{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Add the consultation details
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: 'This is not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Add the consultation details</h1>

      <p>Provide the details from the consultation. These will be used to help prepare the assessment report.</p>

      <form action="add-notes" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="consultation-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">What is the consultation date?</h1>
            </legend>

            <div id="consultation-date-hint" class="govuk-hint">
              For example, 31 3 2025
            </div>

            <div class="govuk-date-input" id="consultation-date">

              <!-- DAY -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-day">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                         id="date-day" name="date-day" type="text" value="20">
                </div>
              </div>

              <!-- MONTH -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-month">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                         id="date-month" name="date-month" type="text" value="04">
                </div>
              </div>

              <!-- YEAR -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                         id="date-year" name="date-year" type="text" value="2026">
                </div>
              </div>

              <!-- NEW: PERIOD DROPDOWN (right next to Year) -->
              <div class="govuk-date-input__item">
                    {{ govukSelect({
                      id: "consultation-period",
                      name: "consultation-period",
                      label: { text: "Time" },
                      classes: "govuk-!-margin-top-1",
                      items: [
                        { value: "09:00", text: "09:00" },
                        { value: "10:00", text: "10:00" },
                        { value: "11:00", text: "11:00" },
                        { value: "12:00", text: "12:00" },
                        { value: "13:00", text: "13:00" },
                        { value: "14:00", text: "14:00" },
                        { value: "15:00", text: "15:00" },
                        { value: "16:00", text: "16:00" },
                        { value: "17:00", text: "17:00" }
                      ]
                    }) }}
              </div>

            </div>
          </fieldset>
        </div>

        {# Conditional checkbox content #}
        {% set identityCheck %}
          {{ govukCheckboxes({
            id: "id-docs",
            name: "id-docs",
            fieldset: {
              legend: {
                text: "How did you confirm their identity?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              { value: "Full name", text: "Full name", checked:true },
              { value: "Date of Birth", text: "Date of birth", checked:true },
              { value: "Address", text: "Address (first line and postcode)", checked:true },
              { value: "NINO", text: "National Insurance number (NINO)", checked:true },
              { value: "security Questions", text: "DWP security questions (case details)" }
            ]
          }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "identity-consent",
          name: "identity-consent",
          fieldset: {
            legend: {
              text: "Identity and consent",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "identity-confirmed",
              text: "Yes, I confirmed the claimant’s identity",
              checked: true,
              conditional: { html: identityCheck }
            },
            {
              value: "consent-given",
              text: "Yes, the claimant gave consent",
              checked: true,
              hint: {
                text: "Make sure the claimant understands the purpose of the consultation, and they consent to continue."
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Additional attendees</h2>

        <p class="govuk-body">
          No additional attendees have been added.
          <a class="govuk-link" href="#">Add an attendee</a>
        </p>

        <div class="govuk-button-group govuk-!-margin-top-8">
          {{ govukButton({
            text: "Save and continue",
            classes: "govuk-button"
          }) }}

          {{ govukButton({
            text: "Save and exit",
            classes: "govuk-button govuk-button--secondary",
            href: "/save-and-exit-consultation"
          }) }}
        </div>

      </form>

  </div>

  <!-- RIGHT COLUMN NAV -->
  <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="subsection-title">Quick access</h2>
      <div id="example-hint" class="govuk-hint govuk-!-padding-top-1 govuk-!-font-size-16">Opens in a new tab</div>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li>
            <a href="my-crib-sheet">Crib-sheet</a>
          </li>
          <li>
            <a href="review-evidence">Evidence list</a>
          </li>
          <li>
            <a href="files/view-pip2" target="_blank">PIP2.pdf</a>
          </li>
          <li>
            <a href="files/view-fe" target="_blank">FE.pdf</a>
          </li>
        </ul>
      </nav>

  </div>

</div>

{% endblock %}