
{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Add consultation notes (free‑form)
{% endblock %}

{# ---- FULL‑WIDTH GREY BAR (outside container) ---- #}
{% block header %}
  {{ super() }}

  <div style="background-color:#f3f2f1;">
    <div class="govuk-width-container">
      <div class="govuk-summary-card govuk-!-margin-bottom-0" style="border: none; background: transparent;">
         <div class="govuk-summary-card__content govuk-!-padding-left-0 govuk-!-margin-left-0">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                <strong>Claimant:</strong> John Smith
                <strong class="govuk-!-padding-left-2">NINO:</strong> QQ 12 34 56 C
                <strong class="govuk-!-padding-left-2">Date of birth:</strong> 31 December 1999
                <strong class="govuk-!-padding-left-2">Postcode:</strong> N2 1XX
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: "This is not a service, it is a prototype created for user testing"
  }) }}

  <!-- MENU (standard width) -->
  <div class="dwp-ds-render">
    <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
      <ul class="dwp-horizontal-navigation__list">
        <li class="dwp-horizontal-navigation__item">
          <a class="dwp-horizontal-navigation__link" href="dashboard">
            Evidence
          </a>
        </li>
        <li class="dwp-horizontal-navigation__item">
          <a class="dwp-horizontal-navigation__link dwp-horizontal-navigation__item--selected" href="dashboard-details">
            Claimant verification
          </a>
        </li>
        <li class="dwp-horizontal-navigation__item">
          <a class="dwp-horizontal-navigation__link" href="dashboard-notes" aria-current="true">
            Assessment
          </a>
        </li>
      </ul>
    </nav>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">








      <h1 class="govuk-heading-xl">Confirm assessment booking</h1>

      <p>Check the details of the consultation, confirm the claimant’s identity, confirm the purpose, and get the consent for assessment.</p>



      <form action="dashboard-notes" method="post" novalidate>


                <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="consultation-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">What is the consultation date?</h1>
            </legend>

            <div id="consultation-date-hint" class="govuk-hint">
              For example, 31 3 2025
            </div>

            <div class="govuk-date-input" id="consultation-date">

              <!-- DAY -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-day">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                         id="date-day" name="date-day" type="text" value="20">
                </div>
              </div>

              <!-- MONTH -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-month">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                         id="date-month" name="date-month" type="text" value="04">
                </div>
              </div>

              <!-- YEAR -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                         id="date-year" name="date-year" type="text" value="2026">
                </div>
              </div>



            </div>
          </fieldset>
        </div>


        <h2 class="govuk-heading-m">Identity and consent</h2>

          <div class="govuk-summary-card">
 <div class="govuk-summary-card__content">
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      HCP
    </dt>
    <dd class="govuk-summary-list__value">
      Your name
    </dd>
        <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
     HCP location
    </dt>
    <dd class="govuk-summary-list__value">
      Tresco house
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      Claimant
    </dt>
    <dd class="govuk-summary-list__value">
      Jonh Smith
    </dd>
        <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      NINO
    </dt>
    <dd class="govuk-summary-list__value">
      QQ 12 34 56 C
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      31 December 1999
    </dd>
      <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      Postcode
    </dt>
    <dd class="govuk-summary-list__value">
      45 Finchley Road,  N2 1XX , London
    </dd>
  </div>

</dl>
</div>
         </div>

        {# Identity confirmation details – shown by default #}
{{ govukCheckboxes({
  id: "id-docs",
  name: "id-docs",
  fieldset: {
    legend: {
      text: "Have you confirmed the claimant’s identity, and how?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
      {
      value: "identity-confirmed",
      text: "Yes, I confirmed the claimant’s identity",
      checked: false
    },
    
    { value: "Full name", text: "Full name" },
    { value: "Date of Birth", text: "Date of birth" },
    { value: "Address", text: "Address (first line and postcode)" },
    { value: "NINO", text: "National Insurance number (NINO)" },
    { value: "security-questions", text: "DWP security questions (case details)" }
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{{ govukCheckboxes({
  idPrefix: "identity-consent",
  name: "identity-consent",
  fieldset: {
    legend: {
      text: "",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "consent-given",
      text: "Yes, the claimant understands the purpose of the consultation, and consent to continue."
    },
    {
      divider: "or"
    },
    {
      value: "cancel",
      text: "The consultation had to be postponed"
    }
  ]
}) }}


        

        <h2 class="govuk-heading-m">Additional attendees</h2>

        <p class="govuk-body">
          No additional attendees have been added.
          <a class="govuk-link" href="#">Add an attendee</a>
        </p>

        <div class="govuk-button-group govuk-!-margin-top-8">
          {{ govukButton({
            text: "Save and continue",
            classes: "govuk-button"
          }) }}

          {{ govukButton({
            text: "Save and exit",
            classes: "govuk-button govuk-button--secondary",
            href: "/save-and-exit-consultation"
          }) }}
        </div>

      </form>





  </div>
</div>    





{% endblock %}