
{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Add consultation notes (free‑form)
{% endblock %}

{# ---- FULL‑WIDTH GREY BAR (outside container) ---- #}
{% block header %}
  {{ super() }}

  <div style="background-color:#f3f2f1;">
    <div class="govuk-width-container">
      <div class="govuk-summary-card govuk-!-margin-bottom-0" style="border: none; background: transparent;">
          <div class="govuk-summary-card__content govuk-!-padding-left-0 govuk-!-margin-left-0">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                <strong>Claimant:</strong> John Smith
                <strong class="govuk-!-padding-left-2">NINO:</strong> QQ 12 34 56 C
                <strong class="govuk-!-padding-left-2">Date of birth:</strong> 31 December 1999
                <strong class="govuk-!-padding-left-2">Postcode:</strong> N2 1XX
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: "This is not a service, it is a prototype created for user testing"
  }) }}

  <!-- MENU (standard width) -->
  <div class="dwp-ds-render">
    <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
      <ul class="dwp-horizontal-navigation__list">
        <li class="dwp-horizontal-navigation__item">
          <a class="dwp-horizontal-navigation__link dwp-horizontal-navigation__item--selected" href="dashboard">
            Evidence
          </a>
        </li>
        <li class="dwp-horizontal-navigation__item">
          <a class="dwp-horizontal-navigation__link" href="dashboard-details">
            Claimant verification
          </a>
        </li>
        <li class="dwp-horizontal-navigation__item">
          <a class="dwp-horizontal-navigation__link" href="dashboard-notes" aria-current="true">
            Assessment
          </a>
        </li>
      </ul>
    </nav>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">Review evidence</h1>

    <p class="govuk-!-padding-bottom-3">
      Select the documents you want to include in the assessment.
    </p>

  </div>
</div>








         {{ govukWarningText({
        text: "AI assistant will not review the evidence. You must add any relevant details from the evidence to the report yourself.",
        iconFallbackText: "Warning"
      }) }}


    <p>All links open in a new tab.</p>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Evidence files and notes
      </h2>

      <form method="post" novalidate>
      <!--tab1-->

      <!-- SEARCH + FILTER + RESULT COUNT -->
<div class="govuk-grid-row govuk-!-margin-bottom-4">

  <!-- SEARCH -->
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <label class="govuk-label" for="file-search">
        Search files
      </label>
      <input
        class="govuk-input"
        id="file-search"
        name="file-search"
        type="search"
        placeholder="Search by file name"
      >
    </div>
  </div>

  <!-- FILTER -->
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group">
      <label class="govuk-label" for="file-type-filter">
        Filter by type
      </label>
      <select class="govuk-select" id="file-type-filter" name="file-type-filter">
        <option value="">All documents</option>
        <option value="pip2">PIP Applications</option>
        <option value="fe">Questionnaire</option>
        <option value="medical">Medical evidence</option>
         <option value="medical">Exams</option>
      </select>
    </div>
  </div>

</div>

<!--table-->

<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="none">Select</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">File name</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Date of document</th>
      <th scope="col" class="govuk-table__header" aria-sort="descending">Date received</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-1" name="selected-files" type="checkbox" value="PIP.pdf" checked>
            <label class="govuk-label govuk-checkboxes__label" for="file-1"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="PIP2.pdf">
        <a class="govuk-link" href="files/view-pip2" target="_blank">PIP2.pdf</a>
      </td>
      <td class="govuk-table__cell" data-sort-value="2025-12-01">1 December 2025</td>
      <td class="govuk-table__cell" data-sort-value="2026-02-18">18 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-2" name="selected-files" type="checkbox" value="evidence_2.pdf" checked>
            <label class="govuk-label govuk-checkboxes__label" for="file-2"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="Questionnaire.pdf">
        <a class="govuk-link" href="files/view-fe" target="_blank">Questionnaire.pdf</a>
      </td>
      <td class="govuk-table__cell" data-sort-value="2026-01-15">15 January 2026</td>
      <td class="govuk-table__cell" data-sort-value="2026-02-18">18 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-3" name="selected-files" type="checkbox" value="MedicationReview.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-3"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="MedicationReview.pdf">
        <a class="govuk-link" href="#">MedicationReview.pdf</a>
      </td>
      <td class="govuk-table__cell" data-sort-value="2026-02-10">10 February 2026</td>
      <td class="govuk-table__cell" data-sort-value="2026-02-12">12 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-4" name="selected-files" type="checkbox" value="GP_Letter.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-4"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="GP_Letter.pdf">
        <a class="govuk-link" href="#">GP_Letter.pdf</a>
      </td>
      <td class="govuk-table__cell" data-sort-value="2026-02-08">8 February 2026</td>
      <td class="govuk-table__cell" data-sort-value="2026-02-10">10 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-5" name="selected-files" type="checkbox" value="MRI_Result.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-5"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="MRI_Result.pdf">
        <a class="govuk-link" href="#">MRI_Result.pdf</a>
      </td>
      <td class="govuk-table__cell" data-sort-value="2026-02-06">6 February 2026</td>
      <td class="govuk-table__cell" data-sort-value="2026-02-08">8 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-6" name="selected-files" type="checkbox" value="BloodTest.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-6"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="BloodTest.pdf">
        <a class="govuk-link" href="#">BloodTest.pdf</a>
      </td>
      <td class="govuk-table__cell" data-sort-value="2026-02-05">5 February 2026</td>
      <td class="govuk-table__cell" data-sort-value="2026-02-07">7 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-7" name="selected-files" type="checkbox" value="CarePlan.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-7"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="CarePlan.pdf">
        <a class="govuk-link" href="#">CarePlan.pdf</a>
      </td>
      <td class="govuk-table__cell" data-sort-value="2026-02-03">3 February 2026</td>
      <td class="govuk-table__cell" data-sort-value="2026-02-05">5 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-8" name="selected-files" type="checkbox" value="XrayReport.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-8"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="XrayReport.pdf">
        <a class="govuk-link" href="#">XrayReport.pdf</a>
      </td>
      <td class="govuk-table__cell" data-sort-value="2026-02-01">1 February 2026</td>
      <td class="govuk-table__cell" data-sort-value="2026-02-03">3 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-9" name="selected-files" type="checkbox" value="HospitalDischarge.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-9"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="HospitalDischarge.pdf">
        <a class="govuk-link" href="#">HospitalDischarge.pdf</a>
      </td>
      <td class="govuk-table__cell" data-sort-value="2026-01-29">29 January 2026</td>
      <td class="govuk-table__cell" data-sort-value="2026-02-01">1 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-10" name="selected-files" type="checkbox" value="ConsultationNotes.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-10"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="ConsultationNotes.pdf">
        <a class="govuk-link" href="#">ConsultationNotes.pdf</a>
      </td>
      <td class="govuk-table__cell" data-sort-value="2026-01-28">28 January 2026</td>
      <td class="govuk-table__cell" data-sort-value="2026-01-30">30 January 2026</td>
    </tr>

  </tbody>
</table>



<nav class="govuk-pagination" role="navigation" aria-label="results">
  <ul class="govuk-pagination__list">

    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-pagination__link" href="#" aria-current="page">1</a>
    </li>

    <li class="govuk-pagination__item">
      <a class="govuk-pagination__link" href="#">2</a>
    </li>

    <li class="govuk-pagination__item">
      <a class="govuk-pagination__link" href="#">3</a>
    </li>

  </ul>
</nav>


<!--table 2-->





           <div>
   {{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "evidence-was-reviewed",
      text: "Yes, all evidence available on the day of the assessment report has been reviewed."
    },
    {
      value: "new-evidence-presented",
      text: "Yes, new evidence has been presented during the consultation."
    }
  ]
}) }}
          </div>
          <div class="govuk-button-group">
            {{ govukButton({
            text: "Save and continue",
            href: "dashboard-details"
            }) }}
            {{ govukButton({
            text: "Save and exit",
            classes: "govuk-button govuk-button--secondary",
            href: "/save-and-exit-consultation"
            }) }}
          

          </div>
        </form>

    </div>



  </div>
</div>    





{% endblock %}