{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Add consultation notes (free‑form)
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: 'This is not a service, it is a prototype created for user testing'
  }) }}
    <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-summary-card govuk-!-margin-bottom-1">
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Claimant:</strong> John Smith
         <strong class="govuk-!-padding-left-2">NINO:</strong> QQ 12 34 56 C
         <strong class="govuk-!-padding-left-2">Date of birth:</strong> 31 December 1999
        <strong class="govuk-!-padding-left-2"> Postcode:</strong>  N2 1XX
        </dd>
      </div>

    </dl>
  </div>
</div>
  </div>
</div>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
<!-- main layout-->
   <div class="govuk-grid-column-one-quarter">
    <!-- left side menu -->
     <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
  
  <ul class="dwp-side-navigation__list">
    <li class="dwp-side-navigation__item ">
      <a id="s-item-2" href="dashboard" class="dwp-side-navigation__link" aria-current="true">
        Review evidence
      </a>
    </li>

    <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
       <a id="s-item-2" href="dashboard" class="dwp-side-navigation__link dwp-side-navigation__link--selected" aria-current="true">
        Confirm consultation details
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-3" href="dashboard-notes" class="dwp-side-navigation__link">
       Add assessment and report notes
      </a>
    </li>
  </ul>
    </nav>
  </div>   
  <!-- body and right side row-->
    <div class="govuk-grid-column-three-quarters">
    






      <h1 class="govuk-heading-xl">Confirm consultation details</h1>

      <p>Provide the details from the consultation. These will be used to help prepare the assessment report.</p>



      <form action="dashboard-notes" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="consultation-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">What is the consultation date and time?</h1>
            </legend>

            <div id="consultation-date-hint" class="govuk-hint">
              For example, 31 3 2025
            </div>

            <div class="govuk-date-input" id="consultation-date">

              <!-- DAY -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-day">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                         id="date-day" name="date-day" type="text" value="20">
                </div>
              </div>

              <!-- MONTH -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-month">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                         id="date-month" name="date-month" type="text" value="04">
                </div>
              </div>

              <!-- YEAR -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                         id="date-year" name="date-year" type="text" value="2026">
                </div>
              </div>

              <!-- NEW: PERIOD DROPDOWN (right next to Year) -->
              <div class="govuk-date-input__item">
                    {{ govukSelect({
                      id: "consultation-period",
                      name: "consultation-period",
                      label: { text: "Time" },
                      classes: "govuk-!-margin-top-1",
                      items: [
                        { value: "09:00", text: "09:00" },
                        { value: "10:00", text: "10:00" },
                        { value: "11:00", text: "11:00" },
                        { value: "12:00", text: "12:00" },
                        { value: "13:00", text: "13:00" },
                        { value: "14:00", text: "14:00" },
                        { value: "15:00", text: "15:00" },
                        { value: "16:00", text: "16:00" },
                        { value: "17:00", text: "17:00" }
                      ]
                    }) }}
              </div>

            </div>
          </fieldset>
        </div>
        <h2 class="govuk-heading-m">Identity and consent</h2>

          <div class="govuk-summary-card">
 <div class="govuk-summary-card__content">
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      HCP
    </dt>
    <dd class="govuk-summary-list__value">
      Your name
    </dd>
        <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
     HCP location
    </dt>
    <dd class="govuk-summary-list__value">
      Tresco house
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      Claimant
    </dt>
    <dd class="govuk-summary-list__value">
      Jonh Smith
    </dd>
        <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      NINO
    </dt>
    <dd class="govuk-summary-list__value">
      QQ 12 34 56 C
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      31 December 1999
    </dd>
      <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      Postcode
    </dt>
    <dd class="govuk-summary-list__value">
      45 Finchley Road,  N2 1XX , London
    </dd>
  </div>

</dl>
</div>
         </div>

        {# Conditional checkbox content #}
        {% set identityCheck %}
          {{ govukCheckboxes({
            id: "id-docs",
            name: "id-docs",
            fieldset: {
              legend: {
                text: "How did you confirm their identity?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              { value: "Full name", text: "Full name", checked:true },
              { value: "Date of Birth", text: "Date of birth", checked:true },
              { value: "Address", text: "Address (first line and postcode)", checked:true },
              { value: "NINO", text: "National Insurance number (NINO)", checked:true },
              { value: "security Questions", text: "DWP security questions (case details)" }
            ]
          }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "identity-consent",
          name: "identity-consent",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "identity-confirmed",
              text: "Yes, I confirmed the claimant’s identity",
              checked: true,
              conditional: { html: identityCheck }
            },
            {
              value: "consent-given",
              text: "Yes, the claimant understands the purpose of the consultation, and consent to continue.",
              checked: true,
              hint: {
                text: ""
              }
            },
            {
              divider: "or"
            },
            {
              value: "cancel",
              text: "The consultation had to be postponed",
              checked: false,
              hint: {
                text: ""
              }
            }
          ]
        }) }}


        

        <h2 class="govuk-heading-m">Additional attendees</h2>

        <p class="govuk-body">
          No additional attendees have been added.
          <a class="govuk-link" href="#">Add an attendee</a>
        </p>

        <div class="govuk-button-group govuk-!-margin-top-8">
          {{ govukButton({
            text: "Save and continue",
            classes: "govuk-button"
          }) }}

          {{ govukButton({
            text: "Save and exit",
            classes: "govuk-button govuk-button--secondary",
            href: "/save-and-exit-consultation"
          }) }}
        </div>

      </form>





  </div>
</div>    





{% endblock %}