{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
   <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-summary-card govuk-!-margin-bottom-1">
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Claimant:</strong> John Smith
         <strong class="govuk-!-padding-left-2">NINO:</strong> QQ 12 34 56 C
         <strong class="govuk-!-padding-left-2">Date of birth:</strong> 31 December 1999
        <strong class="govuk-!-padding-left-2"> Postcode:</strong>  N2 1XX
        </dd>
      </div>

    </dl>
  </div>
</div>
  </div>
</div>
{% endblock %}

{% block content %}
<div style="margin-top: -30px;"><a href="javascript:history.back()" class="govuk-back-link">Back</a></div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Preparing food (1)</span>
    <h1 class="govuk-heading-xl">How well can the claimant prepare food?</h1>

    <form action="descriptor-2" method="post" novalidate>

      {{ govukRadios({
        idPrefix: "descriptor-1",
        name: "descriptor1",
        value: data['descriptor1'],
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "(1a) Can prepare and cook a simple meal unaided",
            text: "(1a) Can prepare and cook a simple meal unaided"
          },
          {
            value: "(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal",
            text: "(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal"
          },
          {
            value: "(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave",
            text: "(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave"
          },
          {
            value: "(1d) Needs prompting to be able to either prepare or cook a simple meal",
            text: "(1d) Needs prompting to be able to either prepare or cook a simple meal"
          },
          {
            value: "(1e) Needs supervision or assistance to either prepare or cook a simple meal",
            text: "(1e) Needs supervision or assistance to either prepare or cook a simple meal"
          },
          {
            value: "(1f) Cannot prepare and cook food",
            text: "(1f) Cannot prepare and cook food"
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue",
          isStartButton: false
        }) }}

        {# Submit to task list so the chosen value is saved to session and the list shows it #}
        {{ govukButton({
          text: "Save and return to list",
          classes: "govuk-button govuk-button--secondary",
          attributes: {
            "formaction": "select-descriptors",
            "formmethod": "post"
          }
        }) }}
      </div>

    </form>

  </div>

  <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="subsection-title">Quick access</h2>
      <div id="example-hint" class="govuk-hint govuk-!-padding-top-1 govuk-!-font-size-16">Opens in a new tab</div>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list">
        <li><a href="add-notes-view" target="_blank">Consultation notes</a></li>
        <li><a class="govuk-link" href="review-evidence" target="_blank">Evidence list</a></li>
        <li><a class="govuk-link" href="files/view-pip2" target="_blank">PIP2.pdf</a></li>
        <li><a class="govuk-link" href="files/view-pip2" target="_blank">FE.pdf</a></li>
      </ul>
    </nav>

  </div>
</div>
{% endblock %}