{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}

   <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-summary-card govuk-!-margin-bottom-1">
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Claimant:</strong> John Smith
         <strong class="govuk-!-padding-left-2">NINO:</strong> QQ 12 34 56 C
         <strong class="govuk-!-padding-left-2">Date of birth:</strong> 31 December 1999
        <strong class="govuk-!-padding-left-2"> Postcode:</strong>  N2 1XX
        </dd>
      </div>

    </dl>
  </div>
</div>
  </div>
</div>
 
{% endblock %}

{% block content %}
 <div style="margin-top: -30px;"><a href="javascript:history.back()" class="govuk-back-link">Back</a></div> 
  <div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Dressing and undressing (6)</span>
<h1 class="govuk-heading-xl">How well the claimant can dress and undress?</h1>


<form action="descriptor-7" method="post" novalidate="">

{{ govukRadios({
    idPrefix: "descriptor-6",
    name: "descriptor6",
    value: data['descriptor6'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(6a) Can dress and undress unaided",
        text: "(6a) Can dress and undress unaided"
      },
      {
        value: "(6b) Needs to use an aid or appliance to be able to dress or undress",
        text: "(6b) Needs to use an aid or appliance to be able to dress or undress",
        checked: true
      },
      {
        value:  "(6c) Needs either prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed, or needs prompting or assistance to be able to select appropriate clothing",
        text: "(6c) Needs either prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed, or needs prompting or assistance to be able to select appropriate clothing"
      },
      {
        value: "(6d) Needs assistance to be able to dress or undress their lower body",
        text: "(6d) Needs assistance to be able to dress or undress their lower body"
      },
      {
        value: "(6e) Needs assistance to be able to dress or undress their upper body",
        text: "(6e) Needs assistance to be able to dress or undress their upper body"
      },
      {
        value: "(6f) Cannot dress or undress at all",
        text: "(6f) Cannot dress or undress at all"
      }
    ]
  }) }}





<!-- place it in a form if will use it-->

<div class="govuk-button-group">

      {{ govukButton({
        text: "Save and continue",
        isStartButton: false
      }) }}

        {{ govukButton({
          text: "Save and return to list",
            href: "select-descriptors?descriptor6=(6b) Needs to use an aid or appliance to be able to dress or undress",
          classes: "govuk-button--secondary"
        }) }}

</div>
</form>  

    </div>

    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="subsection-title">Quick access</h2>
      <div id="example-hint" class="govuk-hint govuk-!-padding-top-1 govuk-!-font-size-16">Opens in a new tab</div>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list">
        <li><a href="add-notes-view" target="_blank">Consultation notes</a></li>
        <li><a class="govuk-link" href="review-evidence" target="_blank">Evidence list</a></li>
        <li><a class="govuk-link" href="files/view-pip2" target="_blank">PIP2.pdf</a></li>
        <li><a class="govuk-link" href="files/view-pip2" target="_blank">FE.pdf</a></li>
      </ul>
    </nav>

  </div>

  </div>

{% endblock %}
