{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Start page
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-l">HCP dashboard</span>
    <h1 class="govuk-heading-xl">Your booked appointments</h1>

    <h2 class="govuk-heading-m">Select a claimant from the list</h2>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Claimant name</th>
          <th scope="col" class="govuk-table__header">Benefit</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Date and time</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        {% set status = data['caseStatus'] or "New" %}
        
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a class="govuk-link" href="review-case-evidence.html">
              {{ data['userName'] or "Not captured" }}
            </a>
          </th>

          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell">Telephone</td>
          <td class="govuk-table__cell">20 March 2026, 9am</td>

          <td class="govuk-table__cell">
            {% if status == "New" %}
              <strong class="govuk-tag govuk-tag--grey">New</strong>
            {% elif status == "Started" %}
              <strong class="govuk-tag govuk-tag--blue">Started</strong>
            {% elif status == "Complete" %}
              <strong class="govuk-tag govuk-tag--green">Complete</strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--grey">{{ status }}</strong>
            {% endif %}
          </td>

        </tr>

                <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a class="govuk-link" href="dashboard.html">
              {{ data['userName'] or "Not captured" }} 2
            </a>
          </th>

          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell">Telephone</td>
          <td class="govuk-table__cell">20 March 2026, 9am</td>

          <td class="govuk-table__cell">
            {% if status == "New" %}
              <strong class="govuk-tag govuk-tag--grey">New</strong>
            {% elif status == "Started" %}
              <strong class="govuk-tag govuk-tag--blue">Started</strong>
            {% elif status == "Complete" %}
              <strong class="govuk-tag govuk-tag--green">Complete</strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--grey">{{ status }}</strong>
            {% endif %}
          </td>

        </tr>

      </tbody>

    </table>

  </div>

  <div class="govuk-grid-column-one-quarter" style="display: none;">

           <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="subsection-title">Quick access</h2>
      <div id="example-hint" class="govuk-hint govuk-!-padding-top-1 govuk-!-font-size-16">Opens in new tab</div>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
         <p class="govuk-body"><a href="my-crib-sheet" target="_blank">Crib-sheet</a></p>
          </li>
        </ul>
      </nav>

  </div>

</div>

{% endblock %}
