{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Start page
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Select the descriptors
      </h1>
<p class="govuk-body govuk-">Next, you will select the descriptors. Your artificial intelligence assistant will use them to produce an initial draft assessment report. </p>


<div class="govuk-!-margin-top-8">

      {{ govukButton({
        text: "Continue",
        href: "descriptor-1",
        isStartButton: false
      }) }}
</div>

    </div>

  </div>

{% endblock %}
