{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row"> <div class="govuk-grid-column-full govuk-!-padding-left-6">
    {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
</div></div>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-summary-card govuk-!-margin-bottom-1">
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Claimant:</strong> John Smith
         <strong class="govuk-!-padding-left-2">NINO:</strong> QQ 12 34 56 C
         <strong class="govuk-!-padding-left-2">Date of birth:</strong> 31 December 1999
        <strong class="govuk-!-padding-left-2"> Postcode:</strong>  N2 1XX
        </dd>
      </div>

    </dl>
  </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}



{% set case = data.cases[0] %}

<a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>

<div class="govuk-grid-row">





  <!-- body -->
  <div class="govuk-grid-column-three-quarters">

    <!-- Title -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Add notes and descriptors</h1>
  </div>
    </div>

    <form action="aan-observations" method="post" novalidate>
  
      <div id="preparing-food">
      <!-- Prepare food -->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
             <label class="govuk-label govuk-label--l" for="preparingFood">Preparing food (1)</label>
               <p class="govuk-!-margin-bottom-1">
                <a href="#" style="display: none"  class="govuk-link load-headings" data-target="preparingFood" data-heading="preparingFoodHeadings">Add prompts</a>
              </p>
              <textarea class="govuk-textarea" id="preparingFood" name="preparingFood" rows="25">
New content to come
                </textarea>
          </div>

          <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">How well can the claimant prepare food?</h3>
          {{ govukRadios({
            idPrefix: "descriptor-1",
            name: "descriptor1",
            value: data['descriptor1'],
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "(1a) Can prepare and cook a simple meal unaided",
                text: "(1a) Can prepare and cook a simple meal unaided"
              },
              {
                value: "(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal",
                text: "(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal"
              },
              {
                value: "(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave",
                text: "(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave"
              },
              {
                value: "(1d) Needs prompting to be able to either prepare or cook a simple meal",
                text: "(1d) Needs prompting to be able to either prepare or cook a simple meal"
              },
              {
                value: "(1e) Needs supervision or assistance to either prepare or cook a simple meal",
                text: "(1e) Needs supervision or assistance to either prepare or cook a simple meal"
              },
              {
                value: "(1f) Cannot prepare and cook food",
                text: "(1f) Cannot prepare and cook food"
              }
            ]
          }) }}
          </div>
        </div>
      </div>
        <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">

   <!-- TAKING NUTRITION -->   
  <div id="taking-nutrition" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <label class="govuk-label govuk-label--l" for="takingNutrition">Taking nutrition (2)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="25">

    Activity 2 – Taking Nutrition

    Meal count
    Eating issues
    Choking
    Cutlery
    Weight loss
    Eating disorder
    Weight/height
    Prompting
        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m"> How well can the claimant take nutrition?</h3>
       
{{ govukRadios({
    idPrefix: "descriptor-2",
    name: "descriptor2",
    value: data['descriptor2'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(2a) Can take nutrition unaided",
        text: "(2a) Can take nutrition unaided",
        checked: true
      },
      {
        value: "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food",
        text: "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food"
      },
      {
        value: "(2c) Needs a therapeutic source to be able to take nutrition",
        text: "(2c) Needs a therapeutic source to be able to take nutrition"
      },
      {
        value: "(2d) Needs prompting to be able to take nutrition",
        text: "(2d) Needs prompting to be able to take nutrition"
      },
      {
        value: "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition",
        text: "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition"
      },
      {
        value: "(2f) Cannot convey food and drink to their mouth and needs another person to do so",
        text: "(2f) Cannot convey food and drink to their mouth and needs another person to do so"
      }
    ]
  }) }}

      </div>
    </div>
  </div>

     <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">

     <!-- Managing therapy -->   

  <div id="managing-therapy" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
         <label class="govuk-label govuk-label--l" for="managing-therapy">Managing therapy (3)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="30">


        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m">How well can the claimant manage therapy or monitor a health condition?</h3>
       

{{ govukRadios({
    idPrefix: "descriptor-3",
    name: "descriptor3",
    value: data['descriptor3'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided",
        text: "(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided",
        checked: true
      },
      {
        value: "(3b) Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs ",
        text: "(3b) Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs "
      },
      {
        value: "(3c) Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week",
        text: "(3c) Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week"
      },
      {
        value: "(3d) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week",
        text: "(3d) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week"
      },
      {
        value: "(3e) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week",
        text: "(3e) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week"
      },
      {
        value: "(3f) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week",
        text: "(3f) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week"
      }
    ]
  }) }}



      </div>
    </div>
  </div>   

  <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">

     <!-- Washing and bathing -->   

  <div id="washing-bathing" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
         <label class="govuk-label govuk-label--l" for="washing-bathing">Washing and bathing (4)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="25">


        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m">How well can the claimant wash and bathe?</h3>
       

{{ govukRadios({
    idPrefix: "descriptor-4",
    name: "descriptor4",
    value: data['descriptor4'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(4a) Can wash and bathe unaided",
        text: "(4a) Can wash and bathe unaided"
      },
      {
        value: "(4b) Needs to use an aid or appliance to be able to wash or bathe",
        text: "(4b) Needs to use an aid or appliance to be able to wash or bathe"
      },
      {
        value: "(4c) Needs supervision or prompting to be able to wash or bathe",
        text: "(4c) Needs supervision or prompting to be able to wash or bathe"
      },
      {
        value: "(4d) Needs assistance to be able to wash either their hair or body below the waist",
        text: "(4d) Needs assistance to be able to wash either their hair or body below the waist"
      },
      {
        value: "(4e) Needs assistance to be able to get in or out of a bath or shower",
        text: "(4e) Needs assistance to be able to get in or out of a bath or shower",
        checked: true
      },
      {
        value: "(4f) Needs assistance to be able to wash their body between the shoulders and waist",
        text: "(4f) Needs assistance to be able to wash their body between the shoulders and waist"
      }
      ,
      {
        value: "(4g) Cannot wash and bathe at all and needs another person to wash their entire body",
        text: "(4g) Cannot wash and bathe at all and needs another person to wash their entire body"
      }
    ]
  }) }}



      </div>
    </div>
  </div>  


  <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">

       <!-- Managing toilet needs 5-->   

  <div id="toilet-needs" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
         <label class="govuk-label govuk-label--l" for="toilet-needs">Managing toilet needs (5)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="20">


        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m">How well the claimant can manage toilet needs?</h3>
       

 {{ govukRadios({
          idPrefix: "descriptor-5",
          name: "descriptor5",
          value: data['descriptor5'],
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "(5a) Can manage toilet needs or incontinence unaided",
              text: "(5a) Can manage toilet needs or incontinence unaided"
            },
            {
              value: "(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence",
              text: "(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence",
              checked: true
            },
            {
              value: "(5c) Needs supervision or prompting to be able to manage toilet needs",
              text: "(5c) Needs supervision or prompting to be able to manage toilet needs"
            },
            {
              value: "(5d) Needs assistance to be able to manage toilet needs",
              text: "(5d) Needs assistance to be able to manage toilet needs"
            },
            {
              value: "(5e) Needs assistance to be able to manage incontinence of either bladder or bowel",
              text: "(5e) Needs assistance to be able to manage incontinence of either bladder or bowel"
            },
            {
              value: "(5f) Needs assistance to be able to manage incontinence of both bladder and bowel",
              text: "(5f) Needs assistance to be able to manage incontinence of both bladder and bowel"
            }
          ]
        }) }}



      </div>
    </div>
  </div>  

    <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">
         <!--Dressing and undressing (6)-->   

  <div id="dressing-undressing" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
         <label class="govuk-label govuk-label--l" for="dressing-undressing">Dressing and undressing (6)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="22">


        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m">How well the claimant can dress and undress?</h3>
       
{{ govukRadios({
    idPrefix: "descriptor-6",
    name: "descriptor6",
    value: data['descriptor6'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(6a) Can dress and undress unaided",
        text: "(6a) Can dress and undress unaided"
      },
      {
        value: "(6b) Needs to use an aid or appliance to be able to dress or undress",
        text: "(6b) Needs to use an aid or appliance to be able to dress or undress",
        checked: true
      },
      {
        value:  "(6c) Needs either prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed, or needs prompting or assistance to be able to select appropriate clothing",
        text: "(6c) Needs either prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed, or needs prompting or assistance to be able to select appropriate clothing"
      },
      {
        value: "(6d) Needs assistance to be able to dress or undress their lower body",
        text: "(6d) Needs assistance to be able to dress or undress their lower body"
      },
      {
        value: "(6e) Needs assistance to be able to dress or undress their upper body",
        text: "(6e) Needs assistance to be able to dress or undress their upper body"
      },
      {
        value: "(6f) Cannot dress or undress at all",
        text: "(6f) Cannot dress or undress at all"
      }
    ]
  }) }}



      </div>
    </div>
  </div>  

      <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">
         <!--Communicating verbally (7)-->   

  <div id="communicating-verbally" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
         <label class="govuk-label govuk-label--l" for="takingNutrition">Communicating verbally (7)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="20">


        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m">How well the claimant can communicate verbally?</h3>
       
{{ govukRadios({
    idPrefix: "descriptor-7",
    name: "descriptor7",
    value: data['descriptor7'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(7a) Can express and understand verbal information unaided",
        text: "(7a) Can express and understand verbal information unaided",
        checked: true
      },
      {
        value: "(7b) Needs to use an aid or appliance to be able to speak or hear",
        text: "(7b) Needs to use an aid or appliance to be able to speak or hear"
      },
      {
        value: "(7c) Needs communication support to be able to express or understand complex verbal information",
        text: "(7c) Needs communication support to be able to express or understand complex verbal information"
      },
      {
        value: "(7d) Needs communication support to be able to express or understand basic verbal information",
        text: "(7d) Needs communication support to be able to express or understand basic verbal information"
      },
      {
        value: "(7e) Cannot express or understand verbal information at all even with communication support",
        text: "(7e) Cannot express or understand verbal information at all even with communication support"
      }
    ]
  }) }}



      </div>
    </div>
  </div>  


        <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">
         <!--Reading and understanding signs, symbols and words (8)-->   

  <div id="reading-understanding" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
         <label class="govuk-label govuk-label--l" for="takingNutrition">Reading and understanding signs, symbols and words (8)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="20">


        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m">How well the claimant can communicate verbally?</h3>
       
{{ govukRadios({
    idPrefix: "descriptor-8",
    name: "descriptor8",
    value: data['descriptor8'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(8a) Can read and understand basic and complex written information either unaided or using spectacles or contact lenses",
        text: "(8a) Can read and understand basic and complex written information either unaided or using spectacles or contact lenses",
        checked: true
      },
      {
        value: "(8b) Needs to use an aid or appliance, other than spectacles or contact lenses, to be able to read or understand either basic or complex written information",
        text: "(8b) Needs to use an aid or appliance, other than spectacles or contact lenses, to be able to read or understand either basic or complex written information"
      },
      {
        value: "(8c) Needs prompting to be able to read or understand complex written information",
        text: "(8c) Needs prompting to be able to read or understand complex written information"
      },
      {
        value: "(8d) Needs prompting to be able to read or understand basic written information",
        text: "(8d) Needs prompting to be able to read or understand basic written information"
      },
      {
        value: "(8e) Cannot read or understand signs, symbols or words at all",
        text: "(8e) Cannot read or understand signs, symbols or words at all"
      }
    ]
  }) }}

      </div>
    </div>
  </div>  



          <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">
         <!--Engaging face to face (9)-->   

  <div id="engaging-face-to-face" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
         <label class="govuk-label govuk-label--l" for="takingNutrition">Engaging face to face (9)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="20">


        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m">How well the claimant can engage face to face?</h3>
       
{{ govukRadios({
    idPrefix: "descriptor-9",
    name: "descriptor9",
    value: data['descriptor9'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(9a) Can engage with other people unaided",
        text: "(9a) Can engage with other people unaided",
        checked: true
      },
      {
        value: "(9b) Needs prompting to be able to engage with other people",
        text: "(9b) Needs prompting to be able to engage with other people"
      },
      {
        value: "(9c) Needs social support to be able to engage with other people",
        text: "(9c) Needs social support to be able to engage with other people"
      },
      {
        value: "(9d) Cannot engage with other people due to such engagement, causing either overwhelming psychological distress to the claimant or leading the claimant to exhibit behaviour which would result in a substantial risk of harm to the claimant or another person",
        text: "(9d) Cannot engage with other people due to such engagement, causing either overwhelming psychological distress to the claimant or leading the claimant to exhibit behaviour which would result in a substantial risk of harm to the claimant or another person"
      }
    ]
  }) }}

      </div>
    </div>
  </div>  



            <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">
         <!--Budgeting (10)-->   

  <div id="budgeting-section" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
         <label class="govuk-label govuk-label--l" for="takingNutrition">Budgeting (10)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="15">


        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m">How well the claimant can engage face to face?</h3>
       
{{ govukRadios({
    idPrefix: "descriptor-10",
    name: "descriptor10",
    value: data['descriptor10'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(10a) Can manage complex budgeting decisions unaided",
        text: "(10a) Can manage complex budgeting decisions unaided",
        checked: true
      },
      {
        value: "(10b) Needs prompting or assistance to be able to make complex budgeting decisions",
        text: "(10b) Needs prompting or assistance to be able to make complex budgeting decisions"
      },
      {
        value: "(10c) Needs prompting or assistance to be able to make simple budgeting decisions",
        text: "(10c) Needs prompting or assistance to be able to make simple budgeting decisions"
      },
      {
        value: "(10d) Cannot make any budgeting decisions at all",
        text: "(10d) Cannot make any budgeting decisions at all"
      }
    ]
  }) }}

      </div>
    </div>
  </div>  



              <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">
         <!--Planning and following journeys (11)-->   

  <div id="planning-journeys" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
         <label class="govuk-label govuk-label--l" for="takingNutrition">Planning and following journeys (11)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="23">


        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m">How well the claimant can plan and follow journeys?</h3>
       
 {{ govukRadios({
            idPrefix: "descriptor-11",
            name: "descriptor11",
            value: data['descriptor11'],
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },

            items: [
              {
                value: "(11a) Can plan and follow the route of a journey unaided",
                text: "(11a) Can plan and follow the route of a journey unaided",
                checked: true
              },
              {
                value: "(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant",
                text: "(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant"
              },
              {
                value: "(11c) Cannot plan the route of a journey",
                text: "(11c) Cannot plan the route of a journey"
              },
              {
                value: "(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid",
                text: "(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid"
              },
              {
                value: "(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant",
                text: "(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant"
              },
              {
                value: "(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid",
                text: "(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid"
              }
            ]
          }) }}

      </div>
    </div>
  </div>  



                <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">
         <!--Moving around (12)-->   

  <div id="moving-around" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
         <label class="govuk-label govuk-label--l" for="takingNutrition">Moving around (12)</label>
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="25">


        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
         <h3 class="govuk-heading-m">How well the claimant can move around?</h3>
       
{{ govukRadios({
    idPrefix: "descriptor-12",
    name: "descriptor12",
    value: data['descriptor12'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(12a) Can stand and then move more than 200 metres, either aided or unaided",
        text: "(12a) Can stand and then move more than 200 metres, either aided or unaided"
      },
      {
        value: "(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided",
        text: "(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided"
      },
      {
        value: "(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres",
        text: "(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres",
        checked: true
      },
      {
        value: "(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres",
        text: "(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres"
      },
      {
        value: "(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided",
        text: "(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided"
      },
      {
        value: "(12f) Cannot stand or move more than 1 metre, either aided or unaided",
        text: "(12f) Cannot stand or move more than 1 metre, either aided or unaided"
      }
    ]
  }) }}

      </div>
    </div>
  </div>  



      <!-- Buttons-->
      <div class="govuk-button-group">
        {{ govukButton({ text: "Save and continue" }) }}

        {{ govukButton({
          text: "Save and exit",
          href: "select-case",
          classes: "govuk-button--secondary"
        }) }}
      </div>

      {% block pageScripts %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {

      document.querySelectorAll(".load-headings").forEach(function (link) {
        link.addEventListener("click", function (e) {
          e.preventDefault();

          const targetId = this.dataset.target;      // textarea ID
          const headingKey = this.dataset.heading;   // session variable name

          // read from session data
          const headingText = {{ data | dump | safe }}[headingKey];

          if (!headingText) return;

          const textarea = document.getElementById(targetId);
          if (!textarea) return;

          // Insert headings into the textarea
          textarea.value = headingText.trim();
        });
      });

    });
    </script>
    {% endblock %}

    </form>
    <!-- Prepare food -->

  </div>


    <!-- SIDEBAR -->
<div class="govuk-grid-column-one-quarter sticky-container2">
  
  <div class="">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="subsection-title">Quick access</h2>
      <div id="example-hint" class="govuk-hint govuk-!-padding-top-1 govuk-!-font-size-16">Opens in a new tab</div>
    <nav role="navigation" class="border" aria-labelledby="subsection-title">
      <ul class="govuk-list">
        <li style="display: none;">
         <a href="my-crib-sheet" target="_blank">Crib-sheet</a>
          </li>
        <li>
           <a href="dashboard-sidemenu-evidence" target="_blank">Evidence list</a>
        </li>
        <li>
          <a class="govuk-link" href="files/view-pip2" target="_blank">PIP2.pdf</a>
        </li>
        <li>
          <a class="govuk-link" href="files/view-fe" target="_blank">FE.pdf</a>
        </li>
       <li><a class="govuk-link" style="display: none;" href="aan-conditions-and-medication">Condition history and medication</a></li>
        <li><a class="govuk-link" style="display: none;" href="aa-soh">Social & occupational history</a></li>
      </ul>
    </nav>

  </div>

    <div class="sticky-nav">

    <h2 class="govuk-heading-m" id="subsection-title">On this page</h2>
    <nav role="navigation" class="border" aria-labelledby="subsection-title">
      <ul class="govuk-list">
        <li>Activities</li>
        <li><a class="govuk-link" href="#preparing-food">Preparing food</a></li>
        <li><a class="govuk-link" href="#taking-nutrition">Taking nutrition</a></li>
        <li><a class="govuk-link" href="#managing-therapy">Managing therapy</a></li>
        <li><a class="govuk-link" href="#washing-bathing">Washing and bathing</a></li>
        <li><a class="govuk-link" href="#toilet-needs">Managing toilet needs</a></li>
        <li><a class="govuk-link" href="#dressing-undressing">Dressing and undressing</a></li>
        <li><a class="govuk-link" href="#communicating-verbally">Communicating verbally</a></li>
        <li><a class="govuk-link" href="#reading-understanding">Reading & understanding</a></li>
        <li><a class="govuk-link" href="#engaging-face-to-face">Engaging face to face</a></li>
        <li><a class="govuk-link" href="#budgeting-section">Budgeting</a></li>
        <li><a class="govuk-link" href="#planning-journeys">Planning and following journeys</a></li>
        <li><a class="govuk-link" href="#moving-around">Moving around</a></li>
      </ul>
    </nav>

  </div>

</div>


</div>


{% endblock %}
