{% extends "layouts/main-wua-full.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row"> <div class="govuk-grid-column-full govuk-!-padding-left-6">
    {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
</div></div>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-summary-card govuk-!-margin-bottom-1">
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Claimant:</strong> John Smith
         <strong class="govuk-!-padding-left-2">NINO:</strong> QQ 12 34 56 C
         <strong class="govuk-!-padding-left-2">Date of birth:</strong> 31 December 1999
        <strong class="govuk-!-padding-left-2"> Postcode:</strong>  N2 1XX
        </dd>
      </div>

    </dl>
  </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}



{% set case = data.cases[0] %}

<a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>

<div class="govuk-grid-row">


  <!-- SIDEBAR -->
<div class="govuk-grid-column-one-quarter sticky-container2">
  
  <div class="">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="subsection-title">Quick access</h2>
      <div id="example-hint" class="govuk-hint govuk-!-padding-top-1 govuk-!-font-size-16">Opens in a new tab</div>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list">
        <li style="display: none;">
         <a href="my-crib-sheet" target="_blank">Crib-sheet</a>
          </li>
        <li>
          <a class="govuk-link" href="review-case-evidence">Evidence list</a>
        </li>
        <li>
          <a class="govuk-link" href="files/view-pip2" target="_blank">PIP2.pdf</a>
        </li>
        <li>
          <a class="govuk-link" href="files/view-fe" target="_blank">FE.pdf</a>
        </li>
      </ul>
    </nav>

  </div>

    <div class="sticky-nav">

    <h2 class="govuk-heading-m" id="subsection-title">Navigate</h2>
    <nav role="navigation" class="border" aria-labelledby="subsection-title">
      <ul class="govuk-list">
        <li><a class="govuk-link" href="aan-conditions-and-medication">Condition history and medication</a></li>
        <li><a class="govuk-link" href="aa-soh">Social & occupational history</a></li>
        <li>Activities</li>
        <li><a class="govuk-link" href="#preparing-food">Preparing food</a></li>
        <li><a class="govuk-link" href="#taking-nutrition">Taking nutrition</a></li>
        <li><a class="govuk-link" href="#managing-therapy">Managing therapy</a></li>
        <li><a class="govuk-link" href="#washing-bathing">Washing & bathing</a></li>
        <li><a class="govuk-link" href="#toilet-needs">Managing toilet needs</a></li>
        <li><a class="govuk-link" href="#dressing-undressing">Dressing & undressing</a></li>
        <li><a class="govuk-link" href="#communicating-verbally">Communicating verbally</a></li>
        <li><a class="govuk-link" href="#reading-understanding">Reading & understanding</a></li>
        <li><a class="govuk-link" href="#engaging-face-to-face">Engaging face to face</a></li>
        <li><a class="govuk-link" href="#budgeting-section">Budgeting</a></li>
        <li><a class="govuk-link" href="#planning-journeys">Planning & following journeys</a></li>
        <li><a class="govuk-link" href="#moving-around">Moving around</a></li>
      </ul>
    </nav>

  </div>

</div>


  <!-- body -->
  <div class="govuk-grid-column-three-quarters">

    <!-- Title -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Add your consultation notes</h1>
          <p class="govuk-body">Your artificial intelligence assistant will review these notes and use them to produce an initial draft assessment report.</p>       
  </div>
    </div>

    <form action="aan-observations" method="post" novalidate>
     <!-- Prepare food title-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-padding-top-5">
          <label class="govuk-label govuk-label--l" for="preparingFood">Preparing food</label>
          </h1>
          <div id="preparingFood-hint" class="govuk-hint">
            Record any difficulties with planning, preparing, or safely cooking meals.
          </div>
      </div>
    </div>
    <!-- Prepare food row-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
               <p class="govuk-!-margin-bottom-1">
                <a href="#" style="display: none"  class="govuk-link load-headings" data-target="preparingFood" data-heading="preparingFoodHeadings">Add prompts</a>
              </p>
              <textarea class="govuk-textarea" id="preparingFood" name="preparingFood" rows="20">

    Activity 1 – Preparing Food

    Meals made
    Frequency
    Chopping
    Opening
    Lifting pans
    Aids
    Help
    Supervision
    Accidents
    Standing
    </textarea>
          </div>

          <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Preparing food descriptors</h3>
          {{ govukRadios({
            idPrefix: "descriptor-1",
            name: "descriptor1",
            value: data['descriptor1'],
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "(1a) Can prepare and cook a simple meal unaided",
                text: "(1a) Can prepare and cook a simple meal unaided"
              },
              {
                value: "(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal",
                text: "(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal"
              },
              {
                value: "(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave",
                text: "(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave"
              },
              {
                value: "(1d) Needs prompting to be able to either prepare or cook a simple meal",
                text: "(1d) Needs prompting to be able to either prepare or cook a simple meal"
              },
              {
                value: "(1e) Needs supervision or assistance to either prepare or cook a simple meal",
                text: "(1e) Needs supervision or assistance to either prepare or cook a simple meal"
              },
              {
                value: "(1f) Cannot prepare and cook food",
                text: "(1f) Cannot prepare and cook food"
              }
            ]
          }) }}
          </div>
        </div>


        <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">

   <!-- TAKING NUTRITION -->   
     <!-- title-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-padding-top-5">
       <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="takingNutrition">Taking nutrition</label>
        </h1>
        <div id="takingNutrition-hint" class="govuk-hint">
          Describe issues with eating, drinking, or managing nutritional needs independently.
        </div>
      </div>
    </div> 
    <!-- TAKING NUTRITION row-->
  <div id="taking-nutrition" class="govuk-form-group">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p class="govuk-!-margin-bottom-1">
          <a href="#" style="display: none"  class="govuk-link load-headings"data-target="takingNutrition" data-heading="takingNutritionHeadings">Add prompts</a>
        </p>
        <textarea class="govuk-textarea" id="takingNutrition" name="takingNutrition" rows="18">

    Activity 2 – Taking Nutrition

    Meal count
    Eating issues
    Choking
    Cutlery
    Weight loss
    Eating disorder
    Weight/height
    Prompting
        </textarea>
      </div>

      <div class="govuk-grid-column-one-half">
{{ govukRadios({
    idPrefix: "descriptor-2",
    name: "descriptor2",
    value: data['descriptor2'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(2a) Can take nutrition unaided",
        text: "(2a) Can take nutrition unaided",
        checked: true
      },
      {
        value: "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food",
        text: "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food"
      },
      {
        value: "(2c) Needs a therapeutic source to be able to take nutrition",
        text: "(2c) Needs a therapeutic source to be able to take nutrition"
      },
      {
        value: "(2d) Needs prompting to be able to take nutrition",
        text: "(2d) Needs prompting to be able to take nutrition"
      },
      {
        value: "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition",
        text: "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition"
      },
      {
        value: "(2f) Cannot convey food and drink to their mouth and needs another person to do so",
        text: "(2f) Cannot convey food and drink to their mouth and needs another person to do so"
      }
    ]
  }) }}

      </div>
    </div>
  </div>



      <div class="govuk-button-group">
        {{ govukButton({ text: "Save and continue" }) }}

        {{ govukButton({
          text: "Save and exit",
          href: "select-case",
          classes: "govuk-button--secondary"
        }) }}
      </div>

      {% block pageScripts %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {

      document.querySelectorAll(".load-headings").forEach(function (link) {
        link.addEventListener("click", function (e) {
          e.preventDefault();

          const targetId = this.dataset.target;      // textarea ID
          const headingKey = this.dataset.heading;   // session variable name

          // read from session data
          const headingText = {{ data | dump | safe }}[headingKey];

          if (!headingText) return;

          const textarea = document.getElementById(targetId);
          if (!textarea) return;

          // Insert headings into the textarea
          textarea.value = headingText.trim();
        });
      });

    });
    </script>
    {% endblock %}

    </form>
    <!-- Prepare food -->

  </div>


</div>


{% endblock %}
