{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Add the consultation details
{% endblock %}




{# ---- FULL‑WIDTH GREY BAR (outside container) ---- #}
{% block header %}
  {{ super() }}

  <div style="background-color:#f3f2f1;">
    <div class="govuk-width-container">
      <div class="govuk-summary-card govuk-!-margin-bottom-0" style="border: none; background: transparent;">
          <div class="govuk-summary-card__content govuk-!-padding-left-0 govuk-!-margin-left-0">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                <strong>Claimant:</strong> John Smith
                <strong class="govuk-!-padding-left-2">NINO:</strong> QQ 12 34 56 C
                <strong class="govuk-!-padding-left-2">Date of birth:</strong> 31 December 1999
                <strong class="govuk-!-padding-left-2">Postcode:</strong> N2 1XX
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: "This is not a service, it is a prototype created for user testing"
  }) }}




{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Add the consultation details</h1>

      <p>Provide the details from the consultation. These will be used to help prepare the assessment report.</p>

      <form action="aan-conditions-and-medication" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="consultation-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">What is the consultation date?</h1>
            </legend>

            <div id="consultation-date-hint" class="govuk-hint">
              For example, 31 3 2025
            </div>

            <div class="govuk-date-input" id="consultation-date">

              <!-- DAY -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-day">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                         id="date-day" name="date-day" type="text" value="20">
                </div>
              </div>

              <!-- MONTH -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-month">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                         id="date-month" name="date-month" type="text" value="05">
                </div>
              </div>

              <!-- YEAR -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                         id="date-year" name="date-year" type="text" value="2026">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
                <h2 class="govuk-heading-m">Identity and consent</h2>

          <div class="govuk-summary-card">
 <div class="govuk-summary-card__content">
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      HCP
    </dt>
    <dd class="govuk-summary-list__value">
      Your name
    </dd>
        <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
     HCP location
    </dt>
    <dd class="govuk-summary-list__value">
      Tresco house
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      Claimant
    </dt>
    <dd class="govuk-summary-list__value">
      Jonh Smith
    </dd>
        <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      NINO
    </dt>
    <dd class="govuk-summary-list__value">
      QQ 12 34 56 C
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      31 December 1999
    </dd>
      <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
      Postcode
    </dt>
    <dd class="govuk-summary-list__value">
      45 Finchley Road,  N2 1XX , London
    </dd>
  </div>

</dl>
</div>
         </div>

        {# Conditional checkbox content #}
        {% set identityCheck %}
          {{ govukCheckboxes({
            id: "id-docs",
            name: "id-docs",
            fieldset: {
              legend: {
                text: "How did you confirm their identity?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              { value: "Full name", text: "Full name", checked:false },
              { value: "Date of Birth", text: "Date of birth", checked:false },
              { value: "Address", text: "Address (first line and postcode)", checked:false },
              { value: "NINO", text: "National Insurance number (NINO)", checked:false },
              { value: "security Questions", text: "DWP security questions (case details)" }
            ]
          }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "identity-consent",
          name: "identity-consent",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "identity-confirmed",
              text: "Yes, I confirmed the claimant’s identity",
              checked: false,
              conditional: { html: identityCheck }
            },
            {
              value: "consent-given",
              text: "Yes, the claimant gave consent",
              checked: false,
              hint: {
                text: "Make sure the claimant understands the purpose of the consultation, and they consent to continue."
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Additional attendees</h2>

        <p class="govuk-body">
          No additional attendees have been added.
          <a class="govuk-link" href="#">Add an attendee</a>
        </p>

        <div class="govuk-button-group govuk-!-margin-top-8">
          {{ govukButton({
            text: "Save and continue",
            classes: "govuk-button"
          }) }}

          {{ govukButton({
            text: "Save and exit",
            classes: "govuk-button govuk-button--secondary",
            href: "/save-and-exit-consultation"
          }) }}
        </div>

      </form>

  </div>

  <!-- RIGHT COLUMN NAV -->
  <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="subsection-title">Quick access</h2>
      <div id="example-hint" class="govuk-hint govuk-!-padding-top-1 govuk-!-font-size-16">Opens in a new tab</div>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li style="display: none;">
            <a href="my-crib-sheet">Crib-sheet</a>
          </li>
            <li style="display: none;">
            <a href="consultation-details">Consultation details</a>
          </li>
          <li>
            <a href="dashboard-sidemenu-evidence" target="_blank">Evidence list</a>
          </li>
          <li>
            <a href="files/view-pip2" target="_blank">PIP2.pdf</a>
          </li>
          <li>
            <a href="files/view-fe" target="_blank">FE.pdf</a>
          </li>
        </ul>
      </nav>

  </div>

</div>

{% endblock %}