{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}

   <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-summary-card govuk-!-margin-bottom-1">
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Claimant:</strong> John Smith
         <strong class="govuk-!-padding-left-2">NINO:</strong> QQ 12 34 56 C
         <strong class="govuk-!-padding-left-2">Date of birth:</strong> 31 December 1999
        <strong class="govuk-!-padding-left-2"> Postcode:</strong>  N2 1XX
        </dd>
      </div>

    </dl>
  </div>
</div>
  </div>
</div>
 
{% endblock %}

{% block content %}
 <div style="margin-top: -30px;"><a href="javascript:history.back()" class="govuk-back-link">Back</a></div> 
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Reading and understanding signs, symbols and words (8)</span>
<h1 class="govuk-heading-xl">How well the claimant can read and understand signs, symbols and words?</h1>

<form action="descriptor-9" method="post" novalidate="">


{{ govukRadios({
    idPrefix: "descriptor-8",
    name: "descriptor8",
    value: data['descriptor8'],
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "(8a) Can read and understand basic and complex written information either unaided or using spectacles or contact lenses",
        text: "(8a) Can read and understand basic and complex written information either unaided or using spectacles or contact lenses",
        checked: true
      },
      {
        value: "(8b) Needs to use an aid or appliance, other than spectacles or contact lenses, to be able to read or understand either basic or complex written information",
        text: "(8b) Needs to use an aid or appliance, other than spectacles or contact lenses, to be able to read or understand either basic or complex written information"
      },
      {
        value: "(8c) Needs prompting to be able to read or understand complex written information",
        text: "(8c) Needs prompting to be able to read or understand complex written information"
      },
      {
        value: "(8d) Needs prompting to be able to read or understand basic written information",
        text: "(8d) Needs prompting to be able to read or understand basic written information"
      },
      {
        value: "(8e) Cannot read or understand signs, symbols or words at all",
        text: "(8e) Cannot read or understand signs, symbols or words at all"
      }
    ]
  }) }}





<!-- place it in a form if will use it-->

<div class="govuk-button-group">



      {{ govukButton({
        text: "Save and continue",
        isStartButton: false
      }) }}

        {{ govukButton({
          text: "Save and return to list",
            href: "select-descriptors?descriptor8=(8a) Can read and understand basic and complex written information either unaided or using spectacles or contact lenses",
          classes: "govuk-button--secondary"
        }) }}


</div>
  
</form>
    </div>

    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="subsection-title">Quick access</h2>
      <div id="example-hint" class="govuk-hint govuk-!-padding-top-1 govuk-!-font-size-16">Opens in a new tab</div>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list">
        <li><a href="add-notes-view" target="_blank">Consultation notes</a></li>
        <li><a class="govuk-link" href="review-evidence" target="_blank">Evidence list</a></li>
        <li><a class="govuk-link" href="files/view-pip2" target="_blank">PIP2.pdf</a></li>
        <li><a class="govuk-link" href="files/view-pip2" target="_blank">FE.pdf</a></li>
      </ul>
    </nav>

  </div>
  </div>

{% endblock %}
