{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Start page
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <h1 class="govuk-heading-xl">
        Create an assessment report
      </h1>
     <p class="govuk-body">Use this tool to create a PIP assessment report. </p>
      <p class="govuk-body">You can upload information about the case and create a draft report using AI. You can then review and edit it.</p>

       <p class="govuk-body">
          What you need to do:
     </p>
        <ul class="govuk-list govuk-list--bullet">
        <li>select a case</li>
        <li>review its evidence</li>
        <li>add your consultation notes</li>
        <li>select descriptors</li>
        <li>review the draft report and edit it if needed</li>
        </ul>
    <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    AI assistant will not review the evidence. You must add any relevant details from the evidence to the report yourself.
  </strong>
</div>

      {{ govukButton({
        text: "Continue",
        href: "select-case",
        isStartButton: false
      }) }}


    </div>

  </div>

{% endblock %}
