{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Start page
{% endblock %}


{# ---- FULL‑WIDTH GREY BAR (outside container) ---- #}
{% block header %}
  {{ super() }}

  <div style="background-color:#f4f8fb;">
    <div class="govuk-width-container">
      <div class="govuk-summary-card govuk-!-margin-bottom-0" style="border: none; background: transparent;">
          <div class="govuk-summary-card__content govuk-!-padding-left-0 govuk-!-margin-left-0">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                <strong>Claimant:</strong> John Smith
                <strong class="govuk-!-padding-left-2">NINO:</strong> QQ 12 34 56 C
                <strong class="govuk-!-padding-left-2">Date of birth:</strong> 31 December 1999
                <strong class="govuk-!-padding-left-2">Postcode:</strong> N2 1XX
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>




{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You can now view the full report
      </h1>
<p class="govuk-body govuk-">You have reviewed the AI created report sections and can now view the full first assessment report draft.</p>


<div class="govuk-!-margin-top-8">

      {{ govukButton({
        text: "View the full report",
        href: "report-final-preview-new",
        isStartButton: false
      }) }}
</div>

    </div>

  </div>

{% endblock %}
