{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Review application documents</h1>
    <p>Your artificial intelligence assistant will review the documents and extract the relevant information to produce an initial draft assessment report.</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Select</th>
      <th scope="col" class="govuk-table__header">File name</th>
      <th scope="col" class="govuk-table__header">Date</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-1" name="selected-files" type="checkbox" value="PIP.pdf" checked>
            <label class="govuk-label govuk-checkboxes__label" for="file-1"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="files/view-pip2.html" target="_blank">PIP2.pdf</a>
      </td>
      <td class="govuk-table__cell">18 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-2" name="selected-files" type="checkbox" value="evidence_2.pdf" checked>
            <label class="govuk-label govuk-checkboxes__label" for="file-2"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="files/view-fe" target="_blank">FE.pdf</a>
      </td>
      <td class="govuk-table__cell">18 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-3" name="selected-files" type="checkbox" value="MedicationReview.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-3"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">MedicationReview.pdf</a>
      </td>
      <td class="govuk-table__cell">12 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-4" name="selected-files" type="checkbox" value="GP_Letter.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-4"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">GP_Letter.pdf</a>
      </td>
      <td class="govuk-table__cell">10 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-5" name="selected-files" type="checkbox" value="MRI_Result.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-5"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">MRI_Result.pdf</a>
      </td>
      <td class="govuk-table__cell">8 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-6" name="selected-files" type="checkbox" value="BloodTest.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-6"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">BloodTest.pdf</a>
      </td>
      <td class="govuk-table__cell">7 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-7" name="selected-files" type="checkbox" value="CarePlan.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-7"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">CarePlan.pdf</a>
      </td>
      <td class="govuk-table__cell">5 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-8" name="selected-files" type="checkbox" value="XrayReport.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-8"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">XrayReport.pdf</a>
      </td>
      <td class="govuk-table__cell">3 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-9" name="selected-files" type="checkbox" value="HospitalDischarge.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-9"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">HospitalDischarge.pdf</a>
      </td>
      <td class="govuk-table__cell">1 February 2026</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="file-10" name="selected-files" type="checkbox" value="ConsultationNotes.pdf">
            <label class="govuk-label govuk-checkboxes__label" for="file-10"></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">ConsultationNotes.pdf</a>
      </td>
      <td class="govuk-table__cell">30 January 2026</td>
    </tr>

  </tbody>
</table>

<div class="govuk-!-padding-bottom-4">
{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}
<p>Showing 1 to 10 of 28 results</p>

</div>
    {% if data.aiCheck == "done" %}
      <div class="govuk-inset-text" id="ai-result">
        <p class="govuk-body">
          <strong>AI check completed.</strong> The uploaded documents were verified. All required information
          appears to be present to begin drafting the assessment report. You can proceed to consultation details.
        </p>
      </div>
    {% endif %}

    <form method="post" novalidate>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "consultation-details"
        }) }}
        {{ govukButton({
          text: "Upload file",
          classes: "govuk-button--secondary",
          href: ""
        }) }}

        {% if data.aiCheck != "done" %}
          {{ govukButton({
            text: "Run AI check",
            classes: "govuk-button--secondary",
            attributes: { "name": "aiCheck", "value": "done" }
          }) }}
        {% else %}
          {{ govukButton({
            text: "Run AI check again",
            classes: "govuk-button--secondary",
            attributes: { "name": "aiCheck", "value": "done" }
          }) }}
        {% endif %}
      </div>
    </form>

  </div>
</div>


{% endblock %}