{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}

{% block content %}
{% set case = data.cases[0] %}
 <a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Add your consultation notes
      </h1>
    <p class="govuk-body">Your artificial intelligence assistant will review these notes and use them to produce an initial draft assessment report. </p>
    
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Condition history
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Provide a clear summary of the claimant’s health conditions, including onset, duration, progression and any recent changes.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="15" aria-describedby="more-detail-hint">
Condition & History
 Condition
 Start date
 Relapses
 Recent treatment

Current Status
 Current state
 Symptoms
 Symptom detail

Functional Impact
 Restrictions
 Activities affected
 Coping
 Good/bad days

Treatment & Support
 Current treatment
 Effectiveness
 Seeing a GP/nurse/consultant
 Frequency
 Last review
 Ongoing/finished
 Admissions
 Duration/outcome

Future Care
 Upcoming appointments
 Pending treatment
 Aids/equipment

Other Conditions
 Additional conditions
 Restrictions

Mental Health
 MH discussion
 MH conditions
 MH restrictions
 MH daily impact
</textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Medication
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    List all prescribed and over‑the‑counter medications, including dosage, frequency, reason for taking, and any reported side effects.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Medication Checklist 
For Each Condition
 Medication
 Name
 Dose
 Helpful?
Other Medications
 Other drugs
 Purpose
 Dose
 Frequency
 Effective?
 Home therapy
 Anything else
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Social and occupational history
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Describe the claimant’s living situation, daily routines, work history and any social or environmental factors that affect their functioning.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="15" aria-describedby="more-detail-hint">
Home & Living
 Home type
 Floor level
 Stairs
 Stair management
 Who lives with
 Falls history
 Fall injuries

Aids / Adaptations
 Home aids
 Prescribed?
 Usage frequency
 Walking aids
 Hand splints
 Splint purpose
 Splint use
 Prescriber
 Home adaptations
 Bathroom aids
 Toilet location

Bathing / Dressing

 Bath/shower method
 Assistance
 After‑care
 Dressing process
 Independent?

Pets / Children / Caring
 Children
 Pets
 Pet care
 Dog walking
 Route
 Caring duties

Driving
 Manual/auto
 Frequency
 Destinations
 Seatbelt
 Blue badge

Work / Education
 Work type
 Hours
 Role
 Interactions
 Sick leave
 Stopped work—why
 School type
 Coursework support
 Travel to school
Housework
 Tasks managed
 Frequency
 Help given
 Hanging clothes
 Who does it
 Why not
Shopping
 Frequency
 Online?
 Local shop
 Travel to shop
 Taxi use
 Trolley/basket
 Card use
 Ask staff?
 Who shops?
 Why not?
Cooking
 Meals made
 Duration
 Chop/peel
 Lift pans
 Stand at cooker
 Cooking aids
 Assistance
 Supervision
 Accidents

Correspondence
 Open letters
 Read letters
 Manage appointments
 Past ability
 Reason stopped

Hobbies / Weekends
 Hobbies
 Frequency
 Duration

Going Out / Socialising
 Go out?
 Reasons
 Garden access
 Family events
 Stopped—why
 Park visits
 Travel to park

Daily Routine
 Typical day
 After lunch
 Rest time
 Questionnaire filled by

Sleep
 Sleep pattern
 Hours
Standing
 Standing tolerance


 Internet

  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Preparing food
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Record any difficulties with planning, preparing, or safely cooking meals.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Meals made
Frequency
Chopping
Opening
Lifting pans
Aids
Help
Supervision
Accidents
Standing
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Taking nutrition
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Describe issues with eating, drinking, or managing nutritional needs independently.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Meal count
Eating issues
Choking
Cutlery
Weight loss
Eating disorder
Weight/height
Prompting
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Managing therapy
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Note the claimant’s ability to follow treatment plans, manage therapy routines, or carry out medical interventions.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Medication routine
Prompting
Supervision
Dosette use
Packaging
Home therapy
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Washing and bathing
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Document any challenges with personal hygiene tasks, including washing, bathing or using facilities safely.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Wash method
Bath/shower
Aids
Access in/out
Standing
Breaks
Duration
Aftercare
Falls
Prompting
Sequencing
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Managing toilet needs
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Describe continence issues or difficulties accessing, using, or managing toilet needs.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Toilet transfer
Cleaning
Incontinence
Accidents
Pads/wet pants
Adaptations
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Dressing and undressing
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Record problems with selecting clothing, dressing independently, or removing garments.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Frequency
Method
Fastenings
Footwear
Duration
Breaks
Weather choice
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Communicating verbally
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Note speech, comprehension, articulation or communication difficulties observed during the consultation.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Hearing diagnosis
Speech issues
Hearing aids
Sight impairment
Reading aids
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Reading and understanding signs, symbols and words
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Describe any challenges with reading, processing written information or understanding visual prompts.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Reading
Texting
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Engaging face to face
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Record how the claimant engages in face‑to‑face interactions, including cooperation, rapport, and social communication skills.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Social contacts
Asking help
Ordering food
Speaking to drivers
Prompting/support
Unfamiliar people
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Budgeting
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Describe any limitations in managing money, budgeting tasks or making financial decisions.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Paying bills
Direct debits
Online banking
Transfers
Giving change
Quick test
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Planning and following journeys
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Document difficulties with route planning, navigation, or travelling independently.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Frequency
Destinations
Alone
Appointments travel
Transport
Unfamiliar routes
Independence
Outdoor accidents
Barriers
Feelings
Symptoms
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Moving around
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Record mobility issues, including walking distances, balance, pain, stability or the use of mobility aids.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Walking habits
Frequency
Pace
Distance
Aids
Indoor walking
Garden access
Bus stop distance
Shop/GP distance
Hospital distance
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Mental state observations
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
   Describe any observations about the claimant’s mood, behaviour, communication, awareness, and interaction during the assessment.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
Insight – none/poor/has insight  
Cognition - adequate 
Orientation – fully orientated/disorientated in time/place/person or completely disorientated  
Prompting – did not require prompting/needed prompting/did not respond to prompt  
General Memory – adequate/poor  
Concentration – adequate/poor  
Speech Amount – normal/spoke very little/talkative  
Rate – normal/slow/rapid  
Volume – normal/loud/quiet  
Content – normal/monosyllabic/garbled/incongruous  
Rapport – adequate/poor  
Coping at interview – coped at interview/some difficulty coping/severe difficulty coping 
  </textarea>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Informal observations 
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
   Record any informal observations you noticed before, during, or after the assessment, not captured elsewhere.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint">
  
  </textarea>
</div>

   {{ govukButton({
        text: "Save and continue",
        href: "select-descriptors",
        isStartButton: false
      }) }}
    

    </div>

    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="subsection-title">Quick access</h2>
      <div id="example-hint" class="govuk-hint govuk-!-padding-top-1 govuk-!-font-size-16">Opens in a new tab</div>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list">
        <li>Evidence list</li>
        <li><a class="govuk-link" href="/iteration2/files/view-pip2" target="_blank">PIP2.pdf</a></li>
        <li><a class="govuk-link" href="/iteration2/files/view-fe" target="_blank">FE.pdf</a></li>
      </ul>
    </nav>



    </div>

  </div>

{% endblock %}
