{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
  
{% endblock %}

{% block content %}
  <a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <h1 class="govuk-heading-xl">
        Consultation
      </h1>
   <!--consultation date--> 
<div>

<form action="add-notes" method="post" novalidate="">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        What is the consultation date?
      </h1>
    </legend>
    <div id="dob-hint" class="govuk-hint">
      For example, 31 3 2025
    </div>
    <div class="govuk-date-input" id="dob">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric" value="20">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric" value="04">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric" value="2026">
        </div>
      </div>
    </div>
  </fieldset>
</div>
   <!--checked id?--> 

<div>
      <h2 class="govuk-heading-l govuk-!-padding-top-4">
        Claimant identity
      </h2>

 {% set yescheck %}


{{ govukTextarea({
  id: "yes-check",
  name: "yescheck",
  label: {
    text: "How did you confirm the identity?",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  value: "Full name, NINO, Address",
  hint: {
    text: ""
  }
}) }}


{% endset -%} 


{{ govukRadios({
  classes: "govuk-radios",
  name: "changedName",
  fieldset: {
    legend: {
      text: "Did you confirm claimant's identity?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "No",
      text: "No"
    },
    {
      value: "Yes",
      text: "Yes",
      checked : true,
      conditional: {
        html: yescheck
      }
    }
  ]
}) }}
</div>   

<!--concent-->

<div>
        <h2 class="govuk-heading-l">
        Claimant consent 
      </h2>
<p>Make sure the claimant understands the purpose of the consultation, and they consent to continue.</p>

{{ govukRadios({
  classes: "govuk-radios",
  name: "gave-concsent",
  fieldset: {
    legend: {
      text: "Did the claimant give you their consent?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "no",
      text: "No"
    },
    {
      value: "Yes",
      text: "Yes",
      checked : true
    }
  ]
}) }}
</div>


<!--additional-->


      <h2 class="govuk-heading-m">Additional attendees</h2>
     <p class="govuk-body">No additional attendees have been added. <a class="govuk-link" href="#">Add an atendee</a></p>




<div class="govuk-!-margin-top-8">
   {{ govukButton({
        text: "Save and continue",
        isStartButton: false
      }) }}

</div>


</form>    

    </div>

    </div>

        <div class="govuk-grid-column-one-third">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="subsection-title">Quick access</h2>
            <div id="example-hint" class="govuk-hint govuk-!-padding-top-1 govuk-!-font-size-16">Opens in a new tab</div>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list">
              <li>Evidence list</li>
              <li><a class="govuk-link" href="/iteration2/files/view-pip2" target="_blank">PIP2.pdf</a></li>
              <li><a class="govuk-link" href="/iteration2/files/view-pip2" target="_blank">FE.pdf</a></li>
            </ul>
          </nav>

        </div>
  </div>

{% endblock %}
