{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
  
{% endblock %}

{% block content %}
  <a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <h1 class="govuk-heading-xl">
        Daily living qualifying period and prospective test
      </h1>
     

   <!--3m?--> 

<div class="govuk-!-mardin-bottom-8">
  {{ govukRadios({
  name: "func-restric-3m",
  fieldset: {
    legend: {
      text: "Has the claimant had the functional restriction for at least 3 months?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    },
    {
      divider: "or"
    },
    {
      value: "nf",
      text: "No daily living restriction found"
    }
  ]
}) }}
</div>

   <!--9m?--> 

<div class="govuk-!-marging-bottom-8">
  {{ govukRadios({
  name: "func-restric-9m",
  fieldset: {
    legend: {
      text: "Is the claimant likely to have the functional restriction in 9 months?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    },
    {
      divider: "or"
    },
    {
      value: "nf",
      text: "No daily living restriction found"
    }
  ]
}) }}
</div>

<div class="govuk-body govuk-!-margin-top-8">

<h1 class="govuk-heading-xl">
  Mobility qualifying period and prospective test
</h1>
</div>     

   <!--3m?--> 

<div class="govuk-!-mardin-bottom-8">
  {{ govukRadios({
  name: "func-restric-mob-3m",
  fieldset: {
    legend: {
      text: "Has the claimant had the functional restriction for at least 3 months?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    },
    {
      divider: "or"
    },
    {
      value: "nf",
      text: "No daily living restriction found"
    }
  ]
}) }}
</div>

   <!--9m?--> 

<div class="govuk-!-mardin-bottom-8">
  {{ govukRadios({
  name: "func-restric-mob-9m",
  fieldset: {
    legend: {
      text: "Is the claimant likely to have the functional restriction in 9 months?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    },
    {
      divider: "or"
    },
    {
      value: "nf",
      text: "No daily living restriction found"
    }
  ]
}) }}
</div>







<div class="govuk-!-margin-top-8">
   {{ govukButton({
        text: "Continue",
        href: "review-pip-period",
        isStartButton: false
      }) }}

</div>


    

    </div>

  </div>

{% endblock %}
