{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
 
{% endblock %}

{% block content %}
 <div style="margin-top: -30px;"><a href="javascript:history.back()" class="govuk-back-link">Back</a></div> 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Preparing food (1)</span>
<h1 class="govuk-heading-xl">How well can the claimant cook food?</h1>




{{ govukRadios({
    idPrefix: "descriptor-1",
    name: "descriptor1",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "1a",
        text: "(1a) Can prepare and cook a simple meal unaided"
      },
      {
        value: "1b",
        text: "(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal"
      },
      {
        value: "1c",
        text: "(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave"
      },
      {
        value: "1d",
        text: "(1d) Needs prompting to be able to either prepare or cook a simple meal"
      },
      {
        value: "1e",
        text: "(1e) Needs supervision or assistance to either prepare or cook a simple meal"
      },
      {
        value: "1f",
        text: "(1f) Cannot prepare and cook food"
      }
    ]
  }) }}





<!-- place it in a form if will use it-->

<div class="govuk-button-group">



      {{ govukButton({
        text: "Continue",
        href: "descriptor-2",
        isStartButton: false
      }) }}

        {{ govukButton({
          text: "View descriptor list",
          classes: "govuk-button--secondary"
        }) }}


</div>
  

    </div>

  </div>

{% endblock %}
