{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Review documents
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
 
{% endblock %}

{% block content %}
 <div style="margin-top: -30px;"><a href="javascript:history.back()" class="govuk-back-link">Back</a></div> 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Communicating verbally (7)</span>
<h1 class="govuk-heading-xl">How well the claimant can communicate verbally?</h1>

{{ govukRadios({
    idPrefix: "descriptor-7",
    name: "descriptor7",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "7a",
        text: "(7a) Can express and understand verbal information unaided"
      },
      {
        value: "7b",
        text: "(7b) Needs to use an aid or appliance to be able to speak or hear"
      },
      {
        value: "7c",
        text: "(7c) Needs communication support to be able to express or understand complex verbal information"
      },
      {
        value: "7d",
        text: "(7d) Needs communication support to be able to express or understand basic verbal information"
      },
      {
        value: "7e",
        text: "(1e) Needs supervision or assistance to either prepare or cook a simple meal"
      },
      {
        value: "7f",
        text: "(7e) Cannot express or understand verbal information at all even with communication support"
      }
    ]
  }) }}





<!-- place it in a form if will use it-->

<div class="govuk-button-group">




      {{ govukButton({
        text: "Continue",
        href: "descriptor-8",
        isStartButton: false
      }) }}

        {{ govukButton({
          text: "View descriptor list",
          classes: "govuk-button--secondary"
        }) }}


</div>
  

    </div>

  </div>

{% endblock %}
