{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Start page
{% endblock %}


{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Discovery"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
  
  
  

  


  
  <h1 class="govuk-heading-l">Enter your password</h1>


  
    
    <form class="form" method="post" action="select-case" novalidate="novalidate">
    
      
  
  <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
    


{{ govukPasswordInput({
  label: {
    text: "Password"
  },
  id: "password-input",
  name: "password"
}) }}


  </div>


      
    

    <div class="govuk-button-group">
      
  
    
  

<button type="submit" class="govuk-button" data-module="govuk-button" id="submit" data-govuk-button-init="">
  Continue
</button>


      
    </div>
  </form>

  

  
  <p class="govuk-body"><a class="govuk-link" href="/sign-in/forgot-password">Forgot your password?</a></p>


    </div>
  </div>

{% endblock %}
