{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Start page
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
  {# Use Case 1 data for all variables #}
{% set case = data.cases[0] %}


<span class="govuk-caption-xl">Personal Independence Payment</span>
<h1 class="govuk-heading-xl">Health assessment report</h1>

{# Claimant + Assessment details header block with Change links #}

<h2 class="govuk-heading-l">Claimant details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">{{ data['userName']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#change-name">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">National insurance number</dt>
    <dd class="govuk-summary-list__value">{{ data['userNINO']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#change-nino">Change<span class="govuk-visually-hidden"> national insurance number</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date of birth</dt>
    <dd class="govuk-summary-list__value">{{ data['userDoB']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#change-dob">Change<span class="govuk-visually-hidden"> date of birth</span></a>
    </dd>
  </div>

</dl>

<h2 class="govuk-heading-l">Assessment details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date report was completed</dt>
    <dd class="govuk-summary-list__value">{{ data['reportCompleteDate']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#change-report-date">Change<span class="govuk-visually-hidden"> date report was completed</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Benefit</dt>
    <dd class="govuk-summary-list__value">{{ data['reportBenefitType']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#change-benefit">Change<span class="govuk-visually-hidden"> benefit</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Assessment type</dt>
    <dd class="govuk-summary-list__value">{{ data['reportAssessType']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#change-assessment-type">Change<span class="govuk-visually-hidden"> assessment type</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Healthcare professional</dt>
    <dd class="govuk-summary-list__value">{{ data['reportHCP']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#change-hcp">Change<span class="govuk-visually-hidden"> healthcare professional</span></a>
    </dd>
  </div>

</dl>


<h2 class="govuk-heading-l">Evidence</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Evidence used 1</dt>
    <dd class="govuk-summary-list__value">PIP</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Evidence used 2</dt>
    <dd class="govuk-summary-list__value">Evidence_2</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
</dl>

<h2 class="govuk-heading-l">Consultation</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Consultation date</dt>
    <dd class="govuk-summary-list__value">{{ data['ConsultationDate']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Was the claimant's identity confirmed?</dt>
    <dd class="govuk-summary-list__value">{{ data['gave-concsent']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How was their identity confirmed?</dt>
    <dd class="govuk-summary-list__value">{{ data['yescheck']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Did the claimant consent to the consultation?</dt>
    <dd class="govuk-summary-list__value">{{ data['gave-concsent']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
</dl>

<h2 class="govuk-heading-l">Additional attendees</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Attendees</dt>
    <dd class="govuk-summary-list__value">No additional attendees have been added.</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
</dl>


<h2 class="govuk-heading-l">Condition history</h2>


{% for cond in case.report[0].content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">{{ cond["Condition or disability name"] }}</h3>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <p><a class="govuk-link" href="#">Change</a></p> 
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-grid-column-two-thirds">
      <h4 class="govuk-heading-s">When did the condition or disability start?</h4>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
    </div>
  </div>
  <p class="govuk-body">{{ cond["When did the condition or disability start?"] }}</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-grid-column-two-thirds">
      <h4 class="govuk-heading-s">Diagnosis, impact and variability</h4>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <p><a class="govuk-link" href="#">Change</a></p> 
    </div>
  </div>
  <p class="govuk-body">{{ cond["Diagnosis, impact and variability"] }}</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-grid-column-two-thirds">
      <h4 class="govuk-heading-s">Current treatments, specialist input and hospital stays</h4>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <p><a class="govuk-link" href="#">Change</a></p> 
    </div>
  </div>
  <p class="govuk-body">{{ cond["Current treatments, specialist input and hospital stays"] }}</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-grid-column-two-thirds">
      <h4 class="govuk-heading-s">Home therapies (optional)</h4>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <p><a class="govuk-link" href="#">Change</a></p> 
    </div>
  </div>
  <p class="govuk-body">{{ cond["Home therapies (optional)"] }}</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-grid-column-two-thirds">
      <h4 class="govuk-heading-s">Suicidal thoughts and self harm (optional)</h4>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <p><a class="govuk-link" href="#">Change</a></p> 
    </div>
  </div>
  <p class="govuk-body">
    {{ cond["Suicidal thoughts and self harm (optional)"] or "No details provided" }}
  </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-9">
{% endfor %}



<h2 class="govuk-heading-l">Medication</h2>

{% for med in case.report[2].content %}

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"><h2 class="govuk-heading-m">{{ med["Medication Name"] }}</h2> </dt>
      <dd class="govuk-summary-list__value"></dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Dosage</dt>
    <dd class="govuk-summary-list__value">{{ med.Dosage }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Frequency</dt>
    <dd class="govuk-summary-list__value">{{ med.Frequency }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Reason for taking</dt>
    <dd class="govuk-summary-list__value">{{ med["Reason for taking"] }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Effectiveness (optional)</dt>
    <dd class="govuk-summary-list__value">{{ med["Effectiveness (optional)"] }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Side effects (optional)</dt>
    <dd class="govuk-summary-list__value">{{ med["Side effects (optional)"] }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
</dl>

{% endfor %}

<h2 class="govuk-heading-l">Social and occupational history</h2>

  {% set mio1 = case.report[1].content[0] %}

<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      {{ mio1.section }}
    </h3>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
   <p class="govuk-body"><a href="#">Change</a></p>
  </div>
</div>
<p class="govuk-body">{{ mio1.text }}</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-9">



<h2 class="govuk-heading-l">Daily living</h2>

{% set pf = case.report[3].content %}

<h3 class="govuk-heading-m">{{ pf.name }}</h3>

{# Functional history for preparing food + Change link #}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for preparing food</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ pf.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# How well can the claimant prepare food? + Change link #}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">How well can the claimant prepare food?</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ pf.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# Justification for preparing food + Change link #}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Justification for preparing food</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
   <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body ">{{ pf.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">

<!---->

<h3 class="govuk-heading-m">Taking nutrition</h3>
{% set tn = case.report[4].content %}

{# Functional history for taking nutrition + Change link #}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for taking nutrition</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ tn.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# How well can the claimant take nutrition? + Change link #}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">How well can the claimant take nutrition?</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ tn.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# Justification for taking nutrition + Change link #}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Justification for taking nutrition</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ tn.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->


{# Managing therapy (report[5]) #}
<h3 class="govuk-heading-m">Managing therapy</h3>
{% set mt = case.report[5].content %}


<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for managing therapy</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
   <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mt.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      How well can the claimant manage therapy or monitor a health condition?
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
  <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mt.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

 <div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Justification for managing therapy</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>

<p class="govuk-body">{{ mt.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->


{# Washing and bathing (report[6]) #}
<h3 class="govuk-heading-m">Washing and bathing</h3>

{% set wb = case.report[6].content %}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for washing and bathing</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ wb.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      How well can the claimant wash and bathe?
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ wb.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Justification for washing and bathing</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>

<p class="govuk-body">{{ wb.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->


<h3 class="govuk-heading-m">Managing toilet needs</h3>
{% set mtn = case.report[7].content %}

<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for managing toilet needs</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mtn.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      How well can the claimant manage toilet needs or incontinence?
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mtn.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Justification for managing toilet needs</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mtn.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->

<h3 class="govuk-heading-m">Dressing and undressing</h3>
{% set mtn = case.report[8].content %}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      Functional history for {{ mtn.name | lower }}
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mtn.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      How well can the claimant {{ mtn.name | lower }}?
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mtn.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      Justification for {{ mtn.name | lower }}
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mtn.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->
<h3 class="govuk-heading-m">Communicating verbally</h3>
{% set cmv = case.report[9].content %}

<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for communicating verbally</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ cmv.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      How well can the claimant communicate verbally?
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ cmv.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Justification for communicating verbally</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ cmv.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->




{# Reading and understanding signs, symbols and words (report[10]) #}
<h3 class="govuk-heading-m">Reading and understanding signs, symbols and words</h3>
{% set rus = case.report[10].content %}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for reading and understanding signs, symbols and words</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ rus.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      How well can the claimant read and understand signs, symbols and words?
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ rus.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Justification for reading and understanding signs, symbols and words</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ rus.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->


{# Engaging face to face (report[11]) #}
<h3 class="govuk-heading-m">Engaging face to face</h3>
{% set eff = case.report[11].content %}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for engaging face to face</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ eff.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      How well can the claimant engage face to face?
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ eff.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      Justification for engaging face to face
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
   <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ eff.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->


{# Budgeting (report[12]) #}
<h3 class="govuk-heading-m">Budgeting</h3>
{% set bdg = case.report[12].content %}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for budgeting</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ bdg.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      How well can the claimant budget?
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ bdg.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
     Justification for budgeting
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ bdg.justification }}</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->

<h2 class="govuk-heading-m">Daily living qualifying period and prospective test</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Has the claimant had the functional restriction for at least 3 months?</dt>
    <dd class="govuk-summary-list__value">{{ data['func-restric-3m']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Is the claimant likely to have the functional restriction in 9 months?</dt>
    <dd class="govuk-summary-list__value">{{ data['func-restric-9m']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
</dl>

<h2 class="govuk-heading-l">Mobility</h2>

{# Planning and following journeys (report[13]) #}
<h3 class="govuk-heading-m">Planning and following journeys</h3>
{% set pfj = case.report[13].content %}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for planning and following journeys</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ pfj.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      How well can the claimant plan and follow journeys?
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
     <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ pfj.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
     Justification for planning and following journeys
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ pfj.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->



{# Moving around (report[14]) #}
<h3 class="govuk-heading-m">Moving around</h3>
{% set mva = case.report[14].content %}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Functional history for moving around</h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
 <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mva.description }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
      How well can the claimant move around?
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
 <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mva.option }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
     Justification for moving around
    </h4>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
 <p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mva.justification }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->

<h2 class="govuk-heading-m">Mobility qualifying period and prospective test</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Has the claimant had the functional restriction for at least 3 months?</dt>
    <dd class="govuk-summary-list__value">{{ data['func-restric-mob-3m']  or "not captured" }}
    <dd class="govuk-summary-list__actions"><p><a class="govuk-link" href="#">Change</a></p> </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Is the claimant likely to have the functional restriction in 9 months?</dt>
    <dd class="govuk-summary-list__value">{{ data['func-restric-mob-9m']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><p><a class="govuk-link" href="#">Change</a></p> </dd>
  </div>
</dl>

<h2 class="govuk-heading-l">Observations</h2>
{% set mio = case.report[1].content[1] %}
{% set mio2 = case.report[1].content[2] %}
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      {{ mio.section }} 
    </h3>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
<p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">I{{ mio.text }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      {{ mio2.section }}
    </h3>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
<p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ mio2.text }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
<!---->


<h2 class="govuk-heading-l">Review period</h2>

<dl class="govuk-summary-list ">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Recommended future review period</dt>
    <dd class="govuk-summary-list__value"> {{ data['review-period']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
</dl>

<div class="govuk-grid-row ">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-s">
      Reason for this review period
    </h3>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
<p><a class="govuk-link" href="#">Change</a></p> 
  </div>
</div>
<p class="govuk-body">{{ data['review-reason']  or "not captured" }}</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">


<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Is it likely that the functional restriction in this report will still be present when reviewed?</dt>
    <dd class="govuk-summary-list__value">{{ data['restriction-present']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Do they need additional support for future claims processes?</dt>
    <dd class="govuk-summary-list__value">{{ data['future-support']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Do they meet the criteria for special rules?</dt>
    <dd class="govuk-summary-list__value">{{ data['special-rules']  or "not captured" }}</dd>
    <dd class="govuk-summary-list__actions"><a href="#">Change</a></dd>
  </div>
</dl>
<div class="govuk-!-margin-bottom-9">
{{ govukInsetText({
  text: "No harmful information has been included in this report."
}) }}

</div>





<div>
  <h1 class="govuk-heading-m">Check your report before you submit it</h1>
<p>Before you submit, check the information in your report carefully. You are responsible for making sure it is correct.</p>
<p>An AI tool helped create your report, but you should still review the content and amend anything that’s unclear, incomplete or inaccurate. You can return to previous steps to make changes.</p>
</div>

    <form action="confirmation" method="get" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Submit report
      </button>
    </form>


  </div>      
</div>

{% endblock %}