{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Start page
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}

{% block content %}
 <a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Personal Independence Payment</span>
    <h1 class="govuk-heading-xl">Health assessment report</h1>

    <h2 class="govuk-heading-l">Claimant details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
           Jane Smith
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          RN 00 01 23 A
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          31 December 1999
        </dd>
      </div>
    </dl> 
 
    <h2 class="govuk-heading-l">Assessment details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date report was completed
        </dt>
        <dd class="govuk-summary-list__value">
           13th October 2023
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Benefit
        </dt>
        <dd class="govuk-summary-list__value">
          Personal Independence Payment
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Assessment type
        </dt>
        <dd class="govuk-summary-list__value">
            Telephone assessment
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Healthcare professional
        </dt>
        <dd class="govuk-summary-list__value">
            Dr. Smith
        </dd>  
      </div>
    </dl>  


    <h2 class="govuk-heading-l">Evidence</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Evidence used
        </dt>
        <dd class="govuk-summary-list__value">
          Prescription or medication list, 20 May 2024
          GP letter, 12 March 2023
          Factual medical report (FRR2), 18 June 2024
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Other evidence used
        </dt>
        <dd class="govuk-summary-list__value">
          Prescription letters and further evidence to support for medical conditions
        </dd>
        <dd class="govuk-summary-list__actions">
       
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">Consultation</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Consulation date
        </dt>
        <dd class="govuk-summary-list__value">
          13th October 2023
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Was the claimants identity verified?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Did the claimant give consent?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional attendees
        </dt>
        <dd class="govuk-summary-list__value">
          None
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">History</h2>

    <h2 class="govuk-heading-m">History of condition</h2>

    <div>
      <p class="govuk-body">Primary Condition: {{ data.cases[0].report[0].content[0]["Condition or disability name"] }}</p>

      <p class="govuk-body"><strong>Diagnosis</strong></p>
      <p class="govuk-body">{{ data.cases[0].report[0].content[0]["Diagnosis, impact and variability"] }}</p>

      <p class="govuk-body"><strong>Care and management</strong></p>
      <p class="govuk-body">{{ data.cases[0].report[0].content[0]["Current treatments, specialist input and hospital stays"] }}</p>
      <p class="govuk-body">{{ data.cases[0].report[0].content[0]["Home therapies (optional)"] }}</p>

      <p class="govuk-body"><strong>Symptoms</strong></p>
      <p class="govuk-body">{{ data.cases[0].report[0].content[0]["Diagnosis, impact and variability"] }}</p>

      <p class="govuk-body"><strong>Variability</strong></p>
      <p class="govuk-body">{{ data.cases[0].report[0].content[0]["Diagnosis, impact and variability"] }}</p>

      <p class="govuk-body"><strong>Hospital admissions</strong></p>

    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <br>

    <h2 class="govuk-heading-m">Current medication and treatment</h2>

    <div>
      <p class="govuk-body"><strong>Medication</strong></p>

      {% for med in data.cases[0].report[2].content %}
      <p class="govuk-body">
        {{ med["Medication Name"] }} – {{ med.Dosage }} – {{ med.Frequency }} – {{ med["Reason for taking"] }}.
      </p>
      {% endfor %}

      <p class="govuk-body"><strong>Effectiveness</strong></p>
      {% for med in data.cases[0].report[2].content %}
      <p class="govuk-body">
        {{ med["Medication Name"] }}: {{ med["Effectiveness (optional)"] }}
      </p>
      {% endfor %}

      <p class="govuk-body"><strong>Side Effects</strong></p>
      {% for med in data.cases[0].report[2].content %}
      <p class="govuk-body">
        {{ med["Medication Name"] }}: {{ med["Side effects (optional)"] }}
      </p>
      {% endfor %}

      <p class="govuk-body"><strong>Additional therapies or treatments</strong></p>
      <p class="govuk-body">{{ data.cases[0].report[0].content[0]["Home therapies (optional)"] }}</p>

    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <br>

    <h2 class="govuk-heading-m">Social and occupational history</h2>
   
   <div>
    <p class="govuk-body"><strong>Living arrangements</strong></p>
    <p class="govuk-body">{{ data.cases[0].report[1].content[0].text }}</p>

    <p class="govuk-body"><strong>Access</strong></p>
    <p class="govuk-body">She does not access all areas of the house steadily, as at times due to her physical pains she cannot get upstairs to access her bedroom, and tends to sleep on the settee downstairs most of the time.</p>
    <p class="govuk-body">Downstairs she is able to walk around all rooms without difficulties. She holds onto the bannisters and the wall for added support if she needs to manage the stairs, taking one step at a time.</p>

    <p class="govuk-body"><strong>Aids and appliances</strong></p>
    <p class="govuk-body">She self‑purchased a walking stick about two years ago to provide additional support when walking, which she has to use at all times to safely walk indoors and outdoors.</p>
    <p class="govuk-body">She does not use wheelchairs or mobility scooters for outdoor mobility.</p>

    <p class="govuk-body"><strong>Bath and shower</strong></p>
    <p class="govuk-body">There is a shower over the bath in the bathroom located upstairs. There is also a toilet in the same bathroom. The bathroom has grab rails at the side of the bath, which were pre‑installed in the property before she moved in.</p>

    <p class="govuk-body"><strong>Occupation</strong></p>
    <p class="govuk-body">She is currently unemployed. She last worked 2–3 years ago as a website developer on a part‑time basis for over 18 hours per week. She did this job for about 2.5 years prior to leaving.</p>
    <p class="govuk-body">She had to stop work for reasons unrelated to her mental health conditions, but shortly after leaving employment she experienced a mental health breakdown.</p>

    <p class="govuk-body"><strong>Driving</strong></p>
    <p class="govuk-body">She holds a full driving licence and currently drives a manual, unadapted car. The last time she drove was about two weeks ago when she drove locally to look after someone else's cat, travelling about a quarter of a mile.</p>

   </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <br>

      <h2 class="govuk-heading-l">Daily living</h2>
      
      <h3 class="govuk-heading-m">Preparing food</h3>
    
      <h3 class="govuk-heading-s">Functional history for preparing food</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[3].content.description }}</p>
      </div>

      <h3 class="govuk-heading-s">How well can the claimant prepare food?</h3>
      <p>{{ data.cases[0].report[3].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for preparing food</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[3].content.justification }}</p>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      
      <h3 class="govuk-heading-m">Taking nutrition</h3>
    
      <h3 class="govuk-heading-s">Functional history for taking nutrition</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[4].content.description }}</p>
      </div>

      <h3 class="govuk-heading-s">How well can the claimant take nutrition?</h3>
      <p>{{ data.cases[0].report[4].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for taking nutrition</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[4].content.justification }}</p>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Managing therapy</h3>
    
      <h3 class="govuk-heading-s">Functional history for managing therapy</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[5].content.description }}</p>
      </div>
      <h3 class="govuk-heading-s">How well can the claimant manage therapy or monitor a health condition?</h3>
      <p>{{ data.cases[0].report[5].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for managing therapy</h3>
    <div>
      <p class="govuk-body">{{ data.cases[0].report[5].content.justification }}</p>
    </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Washing and bathing</h3>
   
      <h3 class="govuk-heading-s">Functional history for washing and bathing</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[6].content.description }}</p>
      </div>
      <h3 class="govuk-heading-s">How well can the claimant wash and bathe?</h3>
      <p>{{ data.cases[0].report[6].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for washing and bathing</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[6].content.justification }}</p>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Managing toilet needs</h3>
    
      <h3 class="govuk-heading-s">Functional history for managing toilet needs</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[7].content.description }}</p>
      </div>
      <h3 class="govuk-heading-s">How well can the claimant manage toilet needs?</h3>
      <p>{{ data.cases[0].report[7].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for managing toilet needs</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[7].content.justification }}</p>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Dressing and undressing</h3>

      <h3 class="govuk-heading-s">Functional history for dressing and undressing</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[8].content.description }}</p>
      </div>
      <h3 class="govuk-heading-s">How well can the claimant dress or undress?</h3>
      <p>{{ data.cases[0].report[8].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for managing dressing and undressing</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[8].content.justification }}</p>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Communicating verbally</h3>
    
      <h3 class="govuk-heading-s">Functional history for communicating verbally</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[9].content.description }}</p>
      </div>
      <h3 class="govuk-heading-s">How well can the claimant communicate verbally?</h3>
      <p>{{ data.cases[0].report[9].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for communicating verbally</h3>
      <div>
        <p class="govuk-body">{{ data.cases[0].report[9].content.justification }}</p>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Reading and understanding signs, symbols and words</h3>
    
      <h3 class="govuk-heading-s">Functional history for reading and understanding signs, symbols and words</h3>
      <p class="text">{{ data.cases[0].report[10].content.description }}</p>

      <h3 class="govuk-heading-s">How well can the claimant read and understand signs, symbols and words?</h3>
      <p>{{ data.cases[0].report[10].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for reading and understanding signs, symbols and words</h3>
      <p class="text">{{ data.cases[0].report[10].content.justification }}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Engaging face to face</h3>
   
      <h3 class="govuk-heading-s">Functional history for engaging face to face</h3>
      <p class="text">{{ data.cases[0].report[11].content.description }}</p>

      <h3 class="govuk-heading-s">How well can the claimant engage face to face?</h3>
      <p>{{ data.cases[0].report[11].content.option }}</p>
     
      <h3 class="govuk-heading-s">Justification for engaging face to face</h3>
      <p class="text">{{ data.cases[0].report[11].content.justification }}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Budgeting</h3>
     
      <h3 class="govuk-heading-s">Functional history for budgeting</h3>
      <p class="text">{{ data.cases[0].report[12].content.description }}</p>

      <h3 class="govuk-heading-s">How well can the claimant budget?</h3>
      <p>{{ data.cases[0].report[12].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for budgeting</h3>
      <p class="text">{{ data.cases[0].report[12].content.justification }}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h2 class="govuk-heading-l">Mobility</h2>

      <h3 class="govuk-heading-m">Planning and following journeys</h3>
    
      <h3 class="govuk-heading-s">Functional history for planning and following journeys</h3>
      <p class="text">{{ data.cases[0].report[13].content.description }}</p>

      <h3 class="govuk-heading-s">How well can the claimant plan and follow journeys?</h3>
      <p>{{ data.cases[0].report[13].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for planning and following journeys</h3>
      <p class="text">{{ data.cases[0].report[13].content.justification }}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Moving around</h3>
    
      <h3 class="govuk-heading-s">Functional history for moving around</h3>
      <p class="text">{{ data.cases[0].report[14].content.description }}</p>

      <h3 class="govuk-heading-s">How well can the claimant move around?</h3>
      <p>{{ data.cases[0].report[14].content.option }}</p>

      <h3 class="govuk-heading-s">Justification for moving around</h3>
      <p class="text">{{ data.cases[0].report[14].content.justification }}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h2 class="govuk-heading-l">Observations</h2>

      <h3 class="govuk-heading-m">Mental state observations</h3>
   
     <p class="text">
      {{ data.cases[0].report[1].content[1].text }}
    </p>
    
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Informal observations</h3>
     
     <p class="text">{{ data.cases[0].report[1].content[2].text }}</p>
    
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Daily living qualifying period and prospective test</h3>
 
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">Mobility qualifying period and prospective test</h3>
  
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
              Yes
          </dd>
          <dd class="govuk-summary-list__actions">
          
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
        </div>
      </dl>

  
      <h2 class="govuk-heading-l">Review period</h2>
        
       

        <div style="margin-top: 1%;">
          <h4 class="govuk-heading-s" style="display: inline-block;">Justification for this review period</h4>
          <p class="govuk-body" style="width: 90%;">Certain functional limitations were present at the time of the assessment, which would warrant a review. She is currently on the waiting list to have counselling. 
            She is due to start having PT sessions for the left knee, and once she would have had enough sessions she's to enlist for a left TKR surgery. Since there are pending specialists' 
            interventions in place with no official confirmatory appointment start date, the reported symptoms are likely to have a functional impact on her ability to carry out daily living 
            and mobility tasks reliably in the short term. With further specialists' interventions in place, a short term review of 1 year 6 months is most appropriate.</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>
       
        <dl class="govuk-summary-list" style="margin-top: -2%;">
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is it likely that the functional restriction will still be present when reviewed?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they need additional support for future claims processes?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the claimant meet the criteria for special rules?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
          
          </dd>
        </div>
      </dl>

     
      <div class="govuk-inset-text">
        No harmful information has been included in this report.
      </div>
    

      <div style="display: none;">
       <h2 class="govuk-heading-l">Case decision</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Rates and Awards
          </dt>
          <dd class="govuk-summary-list__value">
            Enhanced Rate: Awarded if you score 12+ points in the relevant component.
          </dd>

        </div>
      </dl>
</div>
  
     <h2 class="govuk-heading-m">Examination</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mental state
          </dt>
          <dd class="govuk-summary-list__value">
              {{ data.cases[0].report[1].content[1].text }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Observations
          </dt>
          <dd class="govuk-summary-list__value">
              {{ data.cases[0].report[1].content[2].text }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>
  
    <form action="confirmation" method="get" novalidate="">
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
        Submit report
      </button>
    </form>
    <!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
</div>


{% endblock %}