{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Start page
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-top: -20px;">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Review AI created report sections
      </h1>
<p class="govuk-body govuk-">AI has created report sections. You must review all sections to view the full first assessment report draft. </p>

<div>
  {{ govukWarningText({
  text: "AI was used to create the content.",
  iconFallbackText: "Warning"
}) }}
</div>


<div class="govuk-!-margin-top-8">

      {{ govukButton({
        text: "Continue",
        href: "ai-condition-history",
        isStartButton: false
      }) }}
</div>

    </div>

  </div>

{% endblock %}
