{% extends "layouts/main-wua.html" %}

{% block pageTitle %}
{{ serviceName }} – Start page
{% endblock %}


{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}
{% endblock %}




{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Booked appointments
      </h1>
     

      <h1 class="govuk-heading-m">
       Select claimant from the list
      </h1>

      <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Benefit</th>
      <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Date and Time</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="review-evidence">Alex Craig</a>
      </th>
      <td class="govuk-table__cell">PIP</td>
      <td class="govuk-table__cell">Telephone</td>
      <td class="govuk-table__cell">Tue, 26 January 2026, 9am</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="report-builder">Sarah Smith</a>
      </th>
      <td class="govuk-table__cell">PIP</td>
      <td class="govuk-table__cell">Telephone</td>
      <td class="govuk-table__cell">Tue, 26 January 2026, 2pm</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="report-builder">Carl Segan</a>
      </th>
      <td class="govuk-table__cell">PIP</td>
      <td class="govuk-table__cell">Telephone</td>
      <td class="govuk-table__cell">Tue, 27 January 2026, 9am</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="report-builder">John Dee</a>
      </th>
      <td class="govuk-table__cell">PIP</td>
      <td class="govuk-table__cell">Telephone</td>
      <td class="govuk-table__cell">Tue, 27 January 2026, 3pm</td>
    </tr>
  </tbody>
</table>

    </div>



<div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          You will follow this steps
        </h2>
        <ul class="govuk-list govuk-list--bullet">
        <li>select claimant</li>
        <li>review application documents</li>
        <li>upload your notes</li>
        <li>select the descriptors</li>
        <li>review AI created first assessment report draft and edit if needed</li>
      </ul>
      </aside>

    </div>


  </div>

{% endblock %}
