{% extends "layouts/main-wua-nomenu.html" %}

{% set pageName="WUA Home" %}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a service, it is a prototype created for user testing'
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
     Prototype index
    </h1>
    <h2 class="govuk-heading-l">
       Team Sparrowhawk 
    </h2>
    <h3 class="govuk-heading-m">The Write-Up Assistant Solution</h3>
    <p>An AI-powered tool that generates drafts of reports from claimant documentation 
      and HCP notes for the HCP to review and finalise.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Removes the need for the HCP to summarise documentation and notes from scratch.</li>
      <li>Ensures the initial draft follows a consistent format and contains appropriate detail.</li>
    </ul>
    <p class="govuk-body">This is the main index where the different prototypes and iterations will be placed.</p>
    <h2 class="govuk-heading-m">
       WUA prototypes
    </h2>
    <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Work in progress - initial stage
  </strong>
</div>

<!-- table -->

   <!-- design 1 -->
    <dl class="govuk-summary-list">
       <!-- design 1 -->
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          WUA 2.0 B
        </dt>
        <dd class="govuk-summary-list__value">
          User research and testing  
        </dd>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag">
            In progress
          </strong>
        </dd>
        <dd>
         <a class="govuk-service-navigation__link" href="iteration3/select-case">View</a>
        </dd>
      </div>
       <!-- design 1 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          WUA 2.0 A
        </dt>
        <dd class="govuk-summary-list__value">
          User research and testing
        </dd>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag">
            In progress
          </strong>
        </dd>
        <dd>
         <a class="govuk-service-navigation__link" href="iteration2/sign-in">View</a>
        </dd>
      </div>
       <!-- design 1 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          WUA 1.0
        </dt>
        <dd class="govuk-summary-list__value">
          PoC Front-end visual updates
        </dd>
         <dd class="govuk-summary-list__value">
          <strong class="govuk-tag">
            In progress
          </strong>
        </dd>
        <dd>
         <a class="govuk-service-navigation__link" href="iteration1/sign-in">View</a>
        </dd>
      </div>
   </dl>



  </div>
</div>

{% endblock %}
