{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <h2 class="govuk-heading-l">
       Team Sparrowhawk 
    </h2>
    <p class="govuk-body">This is the main index where the different prototypes and iterations will be placed.</p>
    <h2 class="govuk-heading-m">
       WUA prototype 1.0
    </h2>
    <p>
      PoC discovery & exploration
    </p>
     <p>
    <a class="govuk-service-navigation__link" href="">Link to prototype</a>
   </p> 
<!-- design link -->
 <hr class="govuk-!-margin-top-8">
<details class="govuk-details govuk-!-padding-top-8">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      For designers only 
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Prototype kit management<br>
      <a class="govuk-service-navigation__link" href="/manage-prototype">Manage your prototype</a>
    </p>
  </div>
</details>
   
  </div>
</div>

{% endblock %}
