{#
Application layout:
- Header and footer constrained (standard GOV.UK)
- Page content full width
#}

{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{{ dwpHeader({
  serviceName: serviceName,
  serviceHref: "/",
  container: true,
  navigation: {
    items: [
      { href: "select-case", text: "Home" },
      { href: "sign-in", text: "Logout" }
    ]
  }
}) }}
{% endblock %}

{% block main %}
<main id="main-content" role="main">

  {# Standard constrained area for beforeContent (phase banner, breadcrumbs) #}
  
  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
  </div>

  {# Full-width application content area #}

  <div class="govuk-main-wrapper govuk-!-margin-top-0 govuk-!-padding-left-6 govuk-!-padding-right-6">
    {% block content %}{% endblock %}
  </div>

</main>
{% endblock %}

{% block footer %}
{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "About this website",
    items: [
      {
        href: "https://www.gov.uk/help/accessibility-statement",
        text: "Accessibility statement"
      },
      {
        href: "https://www.gov.uk/government/publications/privacy-information-artificial-intelligence-ai-tools",
        text: "AI notice"
      },
      {
        href: "",
        text: "Privacy"
      },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ]
  }
}) }}
{% endblock %}
